.about-section {
  margin-top: 50px;

  .about-us__content-title {
    font-size: 1.6em;
    margin: 40px auto 10px;
    color: $blue-color;
  }

  .about-us__content {
    margin: 0 auto 60px;
    font-size: 1.4em;
  }
}

.team-section {
  margin-top: 120px;
  
  & > .inner-wrapper { // this is actually the container for the member of the team
    max-width: 100%;

    .team__member {
      padding: 40px 0px;

      .inner-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .member__content {
          width: 48%;

          .member__image {
            text-align: center;
  
            .image {
              object-fit: cover;
              width: 250px;
              height: 250px;
              border-radius: 6px;
            }
          }

          .member__information {
            
            .member__name {
              font-size: 1.1em;
              font-weight: bold;
            }

            .member__biography {
              margin: 0;
            }
          }
        }
      }
      @extend .team-section-colors;
    }
  }
}


/**
  *HIS CLASS IS IN CHAGE OF CHANGING EVERY MEMBER CONTAINER
  BACKGROUND COLOR, FOR POSITION, LIKE EVERY 1, 2 AND 3 ... 
  A DIFFERENT BACKGROUND COLOR.
  ALSO WITH THIS CLASS, I'M HANDLING THE SWAPPING BETWEEN
  MEMBER__CONTENT BY ODD CONTAINER POSITION.
*/
.team-section-colors {

  &:nth-child(odd) {
    .inner-wrapper {
      .member__content {
        &:nth-child(1) {
          order:  1;
        }
      }
    }
  }

  &:nth-child(1n) {
    background-color: $blue-color;
    color: #fff;

  }

  &:nth-child(2n) {
    background-color: #fff;
    color: #000;
  }

  &:nth-child(3n) {
    background-color: $orange-color;
    color: #fff;
  }
}


/**
  MEDIA QUERIES FOR ABOUT-US SECTION
*/
@media screen and (max-width: 900px) {
  .about-section {
    h2 {
      text-align: center;
    }
  }
}

@media screen and (max-width: 700px) {

  .team-section {
    
    & > .inner-wrapper { // this is actually the container for the member of the team

      .team__member {
  
        .inner-wrapper {
          justify-content: center;
  
          .member__content {
            width: 80%;
  
            .member__image {
              margin-bottom: 30px;
            }

            .member__information {
              .member__name {
                text-align: center;
                margin-bottom: 20px;
              }
  
              .member__biography {
                margin: 0px auto;
              }
            }
          }
        }
      }
    }
  }

  .team-section-colors {

    &:nth-child(odd) {
      .inner-wrapper {
        .member__content {
          &:nth-child(1) {
            order:  0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  
  .team-section {
    & > .inner-wrapper { // this is actually the container for the member of the team
      .team__member {
        .inner-wrapper {
          .member__content {
            width: 95%;
            .member__image {
              .image {
                height: 180px;
                width: 180px;
              }
            }
          }
        }
      }
    }
  }
}