.blog-section {
  .blog-section__title {
    font-size: 1.3em;
    background: $blue-color;
    color: #fff;
    padding: 10px 0px;
    text-align: center;
    letter-spacing: 2px;
    margin: 0px auto;
  }

  .blog-brand {
    text-align: center;

    .blog-brand__image {
      width: 280px;
    }
  }

  .blog-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px;

    .blog-category__item {
      margin: 0 10px;
      color: $orange-color;
      cursor: pointer;

      &:hover {
        color: $blue-color;
      }
    }

    .blog__categories {
      display: none;
      background-color: $orange-color;
      color: #fff;

      .options__list {
        background-color: inherit;

        a {
          color: #fff;

          &:hover {
            color: darken(#fff, 20%);
          }
        }
      }
    }

    .selected-text {
      a {
        color: $blue-color;
      }
    }
  }

  .blog-search-box {
    margin: 20px auto;

    .search-box__body {
      display: flex;
      border-radius: 4px;
      justify-content: center;
      align-items: center;
      border: 1px solid $orange-color;
      padding: 6px 8px;
      width: 90%;
      max-width: 400px;
      margin: 0 auto;

      label {
        font-size: 0;
        position: absolute;
      }

      .search-box__input {
        border: none;
        outline: none;
        color: rgb(73, 80, 87);
        width: 90%;
      }

      .search-box__icon {
        display: flex;
        cursor: pointer;
        align-items: center;
        margin-left: 6px;

        &::before {
          color: $orange-color;
          font-size: 1.4em;
        }
      }
    }
  }

  .blog-results-section {
    background-color: #ddd;
    min-height: 500px;
    font-family: "Segoe UI Light", Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;

    .blog-filter-options {
      display: flex;
      justify-content: center;
      margin: 30px 0px;
    }

    // styles for component
    .blog-posts-cards-slider {
      .posts-cards__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .posts-cards__pagination {
        margin: 50px auto 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .pagination__button {
          font-size: 1.2em;
          margin: 0px 8px;
          cursor: pointer;
          user-select: none;
          font-weight: 800;

          a {
            color: #24292e;
          }

          &:hover,
          &:hover a {
            color: $orange-color;
          }

          &.arrow {
            display: flex;
            align-items: center;
          }
        }

        .currentPage {
          a {
            color: $orange-color;
          }
        }
      }
    }
  }

  .blog-text {
    font-size: 2em;
  }
}

// self container for post-card
.post-card {
  width: 95%;
  margin: 0px 0 25px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  transition: 0.3s all linear;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 6px 12px rgb(143, 135, 135);
  }

  &:hover .post-card__header .post-card__cover .cover__image {
    transform: scale(1.1);
    opacity: 1;
  }

  .post-card__header {
    height: 160px;
    position: relative;

    .post-card__cover {
      overflow: hidden;
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;

      .cover__image {
        width: 100%;
        opacity: 0.9;
        height: 100%;
        object-fit: cover;
        transition: 0.3s all linear;
      }
    }

    .post-card__category {
      display: block;
      position: absolute;
      font-weight: 600;
      left: 12px;
      bottom: 12px;
      background-color: $green-color;
      color: #fff;
      padding: 2px 18px;
    }
  }

  .post-card__body {
    padding: 12px 12px 0px;

    .post-card__title {
      font-size: 1.1em;
      margin: 0px 0 4px;
      font-weight: 600;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .post-card__description {
      margin: 0;
      font-size: 0.9em;
      line-height: 1.3;
    }
  }

  .post-card__footer {
    padding: 12px;

    .post-card__details {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .post-card__author,
      .post-card__date {
        width: 100%;
        text-align: center;
        font-size: 0.9em;
      }

      .post-card__author {
        font-style: italic;
        text-transform: uppercase;
      }

      .post-card__date {
        color: rgb(153, 151, 151);
      }
    }
  }
}

.selected-text {
  color: $blue-color;
}

// filter component styles
.filter-option {
  border-radius: 4px;
  position: relative;
  margin: 0px 8px;
  cursor: pointer;
  padding: 3px 10px;
  width: 110px;
  background-color: #fff;
  color: $orange-color;
  transform: 02s all linear;
  font-weight: 600;

  .label {
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover + .options__list {
      transition: 0.3s all linear;
      visibility: visible;
      opacity: 1;
    }
    span {
      margin-left: 8px;
      display: flex;
    }
  }
  .options__list {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 6px 6px rgb(128, 124, 124);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    &:hover {
      visibility: visible;
      opacity: 1;
    }
    .option {
      display: block;
      padding: 2px 0;
      text-align: center;
      transition: 0.2s all linear;
      &:hover {
        transition: 0.3s all linear;
        color: $blue-color;
      }
    }
  }
}

@media screen and (min-width: 250px) {
  .blog-section {
    .blog-brand {
      .blog-brand__image {
        width: 200px;
      }
    }

    .blog-results-section {
      .blog-posts-cards-slider {
        .posts-cards__pagination {
          .pagination__button {
            font-size: 1.1em;
          }
        }
      }
    }
  }

  .post-card {
    .post-card__header {
      height: 160px;
    }
  }
}

@media screen and (min-width: 380px) {
  // self container for post-card
  .post-card {
    width: 75%;

    .post-card__footer {
      .post-card__details {
        flex-wrap: nowrap;

        .post-card__author,
        .post-card__date {
          width: auto;
        }
      }
      // Transporte salina Abel Rios
    }
  }
}

@media screen and (min-width: 520px) {
  .blog-section {
    .blog-brand {
      .blog-brand__image {
        width: 220px;
      }
    }

    .blog-results-section {
      .blog-posts-cards-slider {
        .posts-cards__container {
          justify-content: space-between;
        }
      }
    }
  }

  // self container for post-card
  .post-card {
    width: 49%;

    .post-card__header {
      height: 180px;
    }
  }
}

@media screen and (min-width: 750px) {
  .blog-section {
    .blog-brand {
      .blog-brand__image {
        width: 240px;
      }
    }

    .blog-results-section {

      .blog-posts-cards-slider {

        .posts-cards__pagination {
          .pagination__button {
            font-size: 1.3em;
          }
        }
      }
    }
  }

  .post-card {
    width: 44%;

    .post-card__header {
      height: 190px;
    }
  }
}

@media screen and (min-width: 950px) {
  .blog-section {
    .blog-brand {
      .blog-brand__image {
        width: 240px;
      }
    }

    .blog-results-section {
      .blog-posts-cards-slider {
        .posts-cards__container {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          column-gap: 20px;
        }

        .posts-cards__pagination {
          .pagination__button {
            font-size: 1.3em;
          }
        }
      }
    }
  }

  .post-card {
    width: 100%;
    max-width: 300px;

    .post-card__header {
      height: 200px;
    }
  }
}

@media screen and (max-width: 600px) {
  .blog-section {
    .blog-categories {
      .blog-category__item {
        display: none;
      }

      .blog__categories {
        display: block;
      }
    }
  }

  .blog-results-section {
    .inner-wrapper {
      max-width: 90%;
    }
  }
}
