.hire-us {
  background-color: #ddd;

  &__title {
    font-size: 1.3em;
    background: $blue-color;
    color: #fff;
    padding: 10px 4px;
    text-align: center;
    letter-spacing: 2px;
    margin: 0px auto 30px;
  }

  &__sub-title {
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 auto 30px;
    text-align: center;
  }

  .hire-form {
    width: 90%;
    margin: 0px auto;

    .hire-form__input, .hire-form__message textarea {
      border-radius: 4px;
      padding: 4px 10px;
      font-size: 1.1em;
      border: none;
      border: 1.2px solid $orange-color;

      &:focus {
        outline: none;
      }
    }

    .hire-form__inputs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      label {
        font-size: 0;
        position: absolute;
      }

      .hire-form__input {
        width: 49%;
        font-weight: 400;
        color: #495057;
        margin: 0px 0px 20px;
      }
    }

    // .hire-form__message textarea {
    //   width: 100%;
    // }

    .hire-form__button {
      text-align: center;

      button:disabled {
        opacity: 0.6;
      }
    }

    .service-picker {

      &__title {
        font-size: 1em;
        color: $blue-color;
        font-weight: 600;
        margin: 0;
      }

      .note-message {
        color: $orange-color;
        font-weight: 600;
        font-size: .9em;
        margin: 0px auto 20px;
        display: inline-block;
      }

      &__options {
        display: flex;
        flex-wrap: wrap;

        .service-picker__option {
          width: 50%;

          .option__checkbox {
            border: 1px solid $orange-color;

            &:focus {
              outline: none;
            }
          }

          .option__label {
            font-size: 1em;
            display: inline-block;
            margin: 6px 0px 6px 10px;
          }
        }
      }
    }

    .hire-form__message {
      margin-bottom: 20px;

      label {
        font-size: 0;
        position: absolute;
      }

      textarea {
        min-width: 100%;
        max-width: 100%;
        min-height: 200px;
        max-height: 300px;
      }
    }

    .hire-form__files {
      margin: 20px auto 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .files__input {
        width: 1px;
        height: 1px;
        position: absolute;
      }

      .files__label, .files__output-label {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding: 0px 16px;
        text-align: center;
        background-color: $orange-color;
        color: #fff;
        margin: 0;
        border: 1px solid $orange-color;
        cursor: cell;
      }

      .files__output-label {
        background-color: #fff;
        cursor: default;
        color: #000;
      }

      .files__input:focus + .files__label,
      .files__label:hover {
        background-color: darken($orange-color, 6%);
        border-style: dotted;
      }
    }

    .hire-form__recaptcha{
      margin-bottom: 10px;
      @media (min-width: 700px) {
        display: block;
        margin-left: auto;
        margin-right: auto;
        @media (min-width: 1100px) {
          width: 30%;
        }
        @media (max-width: 1100px) {
          width: 40%;
        }
      }
    }
  }
}

// MEDIA QUERIES
@media screen and (max-width: 800px) {
  .hire-us {

    .hire-form {
      
      .hire-form__inputs {
        .hire-form__input {
          width: 49%;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .hire-us {

    .hire-form {
      
      .hire-form__inputs {
        .hire-form__input {
          width: 100%;
        }
      }

      .service-picker {
  
        &__options {
  
          .service-picker__option {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .hire-us {

    .hire-form {
      .hire-form__files {
        flex-wrap: wrap;
  
        .files__label, .files__output-label {
          width: 100%;
        }
  
        .files__output-label {
          background-color: #fff;
          cursor: default;
          color: #000;
        }
  
        .files__input:focus + .files__label,
        .files__label:hover {
          background-color: darken($orange-color, 6%);
          border-style: dotted;
        }
      }
    }
  }
}