/**
* HOME VIEW STYLES.
*/

.information-section {
  background-image: url("../images/backgrounds/gradient-01.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  .information-section__title {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    margin: 0 0 50px;
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .information-section__title-text {
      display: block;
      width: 100%;

      &:first-child {
        font-size: 1.4em;
        font-weight: 600;
        letter-spacing: 2px;
      }

      &:last-child {
        font-size: 1em;
      }
    }
  }

  .information-section__content-cards {
    overflow: hidden;

    .information-section__content-cards-wrapper {
      display: flex;
      justify-content: space-between;
      margin: 0 0 80px;
      transition: transform 600ms linear;

      &--widthDots {
        margin: 0;
      }

      .information-section__content-card {
        width: 23%;
        text-align: center;

        .information-section__card-image {
          width: 80%;
          max-width: 150px;
          display: block;
          margin: 0 auto 40px;
        }

        .information-section__card-title {
          height: 70px;
          font-size: 1.3em;
          font-weight: bold;
          color: #fff;
        }

        .information-section__card-description {
          font-size: 1em;
          margin: 0;
        }
      }
    }

    .information-section__navigation-dots {
      margin: 20px 0 40px;
      display: flex;
      justify-content: center;

      .information-section__navigation-dot {
        cursor: pointer;
        margin: 0 10px;
        width: 20px;
        height: 20px;
        background-color: #ddd;
        border-radius: 50%;
        transition: all 200ms linear;

        &:hover {
          transform: scale(1.2);
        }

        &--selected {
          background-color: $blue-color;
        }
      }
    }
  }
}

.projects-container {
  background-color: $orange-color;
  .inner-wrapper {
    width: 85%;
  }

  .projects__title,
  .project__category {
    font-size: 1.5em;
    padding: 14px 0px;
    margin: 0;
  }

  .projects-slider {
    .VueCarousel-navigation {
      .VueCarousel-navigation-button {
        font-size: 3.5em;
        padding: 0;
        margin: 0;
        outline: none;

        &:hover {
          opacity: 0.6;
        }
      }
    }

    .project-slide {
      position: relative;
      z-index: 100;

      .image__container {
        width: 100%;
        // object-fit: cover;
        background-color: #fff;
        text-align: center;

        .project__image {
          width: 100%;
          height: 100%;
        }
      }

      .information__container {
        .project__category {
          text-align: center;
          color: #fff;
        }
      }
    }
  }
}

.posts-widget {
  background-color: #ddd;
  overflow: hidden;

  &__title {
    text-transform: uppercase;
    margin: 40px 0 20px;
  }

  .posts-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &.right-margin {
      justify-content: flex-start;
      .post-card {
        margin-right: 20px;
      }
    }
  }
}

.slideToUp {
  animation-name: AslideToUp;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

// home information cards animation
@keyframes AslideToUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/**
  HOME VIEWS MEDIA QUERIES
*/
// TABLES
@media screen and (max-width: 800px) {
  .projects-container {
    .inner-wrapper {
      min-width: 100%;
    }

    .projects__title,
    .project__category {
      text-align: center;
      font-size: 1.4em;
    }

    .projects-slider {
      .VueCarousel-navigation {
        display: none;
      }
    }
  }

  .posts-widget {
    &__title {
      text-align: center;
    }

    .posts-cards {
      &.right-margin {
        justify-content: space-between;
        .post-card {
          margin-right: 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .projects-container {
    .projects-slider {
      .VueCarousel-navigation {
        display: none;
      }
    }
  }

  .posts-widget {
    .posts-cards {
      &.right-margin {
        justify-content: center;

        .post-card {
          margin-right: 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .projects-container {
    .projects-slider {
      .VueCarousel-navigation {
        display: none;
      }

      // .project-slide {

      //   .image__container {

      //     .project__image {
      //       // min-height: 280px;
      //       // max-height: 280px;
      //     }
      //   }
      // }
    }
  }

  .posts-widget {
    .posts-cards {
      justify-content: center;

      &.right-margin {
        justify-content: center;

        .post-card {
          margin-right: 0px;
        }
      }
    }
  }
}


// information carousel specific

// medium devices where there will be two navigation dots
@media only screen and (max-width: 800px) {
  .information-section {
  
    .information-section__content-cards {
  
      .information-section__content-cards-wrapper {
        justify-content: flex-start;
  
        .information-section__content-card {
          min-width: 50%;
  
          .information-section__card-title {
            height: 50px;

          }
  
          .information-section__card-description {
            padding: 0 4px;
          }
        }
      }
    }
  }
}

// medium devices where there will be four navigation dots
@media only screen and (max-width: 480px) {
  .information-section {
  
    .information-section__content-cards {
  
      .information-section__content-cards-wrapper {
  
        .information-section__content-card {
          min-width: 100%;
  
          .information-section__card-title {
            height: 40px;
          }
        }
      }
    }
  } 
}
