.recaptcha{
  margin-top: 7px;
}

.login-section {
  width: 90%;
  max-width: 300px;
  margin: 50px auto;
}

.login-section .login-section__icon {
  width: 80%;
  max-width: 220px;
  display: block;
  margin: 0 auto 20px;
}

.login-section .login__form {
  input {
    width: 100%;
    border-radius: 2px;
    border: 2px solid $orange-color;
    padding: 10px;
    outline: none;
    margin: 0 auto 16px;
    display: block;
  }
  button {
    margin-top: 20px;

    &:disabled {
      background: rgba(0, 0, 0, 0.5);
    }
  }
}