// STYLES FOR SERVICES VIEW AND ITS CHILDREN ELEMENTS


.service-container {
  padding: 30px 0px;

  .inner-wrapper {
    width: 85%;
  }

  .service__name {
    background-color: $blue-color;
    color: #fff;
    padding: 10px 0px;
    font-size: 1.4em;
  }

  .service__description {
    margin: 60px 0px;
    white-space: pre-line;
  }

  .service__carousel {
    background-color: $orange-color;
    padding: 30px 0px;
      
    .project__carousel {

      .VueCarousel-navigation {
        
        .VueCarousel-navigation-button {
          font-size: 3.5em;
          padding: 0 !important;
          margin: 0 !important;
          outline: none;
          
          &:hover {
            opacity: 0.6;;
          }
        }
      }
      &__slide {
          width: 100%;
          position: relative;
          z-index: 100;
  
          .project__images {
            width: 100%;
  
            img {
              width: 100%;
              height: 100%;
            }
  
            .image__category {
              text-transform: capitalize;
              color: #fff;
              text-align: center;
            }
          }
      }
    }
  }
}


// SERVICES MEDIA QUERIES
@media screen and (max-width: 900px) {
  .service__name {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .service-container {

    .service__carousel {

      .inner-wrapper {
        min-width: 100%;
      }

      .VueCarousel-navigation {
        display: none;
      }
    }
  }
}