<template>
  <div class="post-container">
    <div class="post-body" v-if="!onLoading">
      <h2 class="post__title">{{ post.title }}</h2>
      <div class="post__date">{{ postDate }}</div>
      <ArticleContent :content="content" />
    </div>
    <div class="post-footer" v-if="!onLoading">
      <div class="post__author">
        {{ $t("blog.post.publishedBy") }}: <span class="font-weight-bold font-italic">{{ post.author }}</span>
      </div>
      <div class="share-box">
        <span>{{ $t("blog.post.shareOn") }}:</span>
        <a :href="facebookShareUrl" rel="noopener noreferrer" target="_blank">
          <svg class="facebook-color" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>facebook</title><path d="M23.9981 11.9991C23.9981 5.37216 18.626 0 11.9991 0C5.37216 0 0 5.37216 0 11.9991C0 17.9882 4.38789 22.9522 10.1242 23.8524V15.4676H7.07758V11.9991H10.1242V9.35553C10.1242 6.34826 11.9156 4.68714 14.6564 4.68714C15.9692 4.68714 17.3424 4.92149 17.3424 4.92149V7.87439H15.8294C14.3388 7.87439 13.8739 8.79933 13.8739 9.74824V11.9991H17.2018L16.6698 15.4676H13.8739V23.8524C19.6103 22.9522 23.9981 17.9882 23.9981 11.9991Z"/></svg>
        </a>
        <a :href="whatsappShareUrl" rel="noopener noreferrer" target="_blank">
          <svg class="whatsapp-color" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>whatsapp</title><path d="M17.498 14.382c-.301-.15-1.767-.867-2.04-.966-.273-.101-.473-.15-.673.15-.197.295-.771.964-.944 1.162-.175.195-.349.21-.646.075-.3-.15-1.263-.465-2.403-1.485-.888-.795-1.484-1.77-1.66-2.07-.174-.3-.019-.465.13-.615.136-.135.301-.345.451-.523.146-.181.194-.301.297-.496.1-.21.049-.375-.025-.524-.075-.15-.672-1.62-.922-2.206-.24-.584-.487-.51-.672-.51-.172-.015-.371-.015-.571-.015-.2 0-.523.074-.797.359-.273.3-1.045 1.02-1.045 2.475s1.07 2.865 1.219 3.075c.149.195 2.105 3.195 5.1 4.485.714.3 1.27.48 1.704.629.714.227 1.365.195 1.88.121.574-.091 1.767-.721 2.016-1.426.255-.705.255-1.29.18-1.425-.074-.135-.27-.21-.57-.345m-5.446 7.443h-.016c-1.77 0-3.524-.48-5.055-1.38l-.36-.214-3.75.975 1.005-3.645-.239-.375c-.99-1.576-1.516-3.391-1.516-5.26 0-5.445 4.455-9.885 9.942-9.885 2.654 0 5.145 1.035 7.021 2.91 1.875 1.859 2.909 4.35 2.909 6.99-.004 5.444-4.46 9.885-9.935 9.885M20.52 3.449C18.24 1.245 15.24 0 12.045 0 5.463 0 .104 5.334.101 11.893c0 2.096.549 4.14 1.595 5.945L0 24l6.335-1.652c1.746.943 3.71 1.444 5.71 1.447h.006c6.585 0 11.946-5.336 11.949-11.896 0-3.176-1.24-6.165-3.495-8.411"/></svg>
        </a>
        <span>{{ $t("blog.post.moreOptions") }}:</span>
        <a :href="rssUrl" target="_blank">
          <img src="@/assets/images/social-icons/rss.svg" alt="rss link" />
        </a>
      </div>
    </div>
    <div class="spinner" v-if="onLoading">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>
</template>

<script>
// post view, shows the blog post contents
import { formatPostDate } from '@/utils/utils';
import getPostById from '@/api/getPostById'
import ArticleContent from '@/components/sub-layout/article-content.vue';


// @vuese
export default {
  name: 'post',
  data() {
    return {
      post: {},
      onLoading: true,
    };
  },

  components: {
    ArticleContent
  },

  computed: {
    postDate() {
      return formatPostDate(this.post.date, this.$i18n.locale);
    },

    content() {
      return JSON.parse(this.post.text);
    },

    postId() {
      return this.$route.params.id
    },

    whatsappShareUrl() {
      return `https://api.whatsapp.com/send?text=${encodeURIComponent(this.pageUrl)}&source=&data=`
    },

    facebookShareUrl() {
      return `https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(this.pageUrl)}&t=${encodeURIComponent(this.post.title)}`;
    },

    pageUrl() {
      return window.location.href;
    },

    rssUrl() {
      return `${process.env.VUE_APP_API_ENDPOINT}/static/blog-rss.xml`
    }
  },

  methods: {
    // @vuese
    // gets post data from backend api
    getPostData() {
      this.onLoading = true;
      let postId = this.postId;
      getPostById(postId)
        .then(post => {
          this.$log.debug(post)
          this.post = post
        })
        .catch(errors => {
          this.$log.debug(errors);
          let category = this.$route.params.category
          this.$router.push(`/blog/${category}/page/1`);
        })
        .finally(() => {
          this.onLoading = false
        })
    },
  },

  created() {
    this.getPostData();
  }
}
</script>