<!--
  SERVICE COMPONENT
  STRUCTURE OF THIS SECTION
    - SERVICE-CONTAINER
      - SERVICE__NAME
        - INNER-WRAPPER // LIMIT PAGE ELEMENT WIDTH
      - SERVICE DESCRIPTION
      - INNER-WRAPPER 
        - CAROUSEL
          - SLIDE
      - BUTTON FOR CONTACT // u-button
-->
<template>
  <div class="service-container">
    <h3 class="service__name">
      <div class="inner-wrapper">{{ service.name }}</div>
    </h3>
    <div class="inner-wrapper">
      <p class="service__description">{{ service.description }}</p>
    </div>

    <div class="service__carousel">
      <div class="inner-wrapper">
        <carousel
          class="project__carousel"
          :key="serviceCategory"
          :per-page="1"
          :loop="true"
          :autoplay="true"
          :autoplay-timeout="4000"
          :pagination-enabled="false"
          :navigation-enabled="true"
          navigation-prev-label="<span class='icon-left-arrow carousel__arrow'></span>"
          navigation-next-label="<span class='icon-right-arrow carousel__arrow'></span>"
        >
          <slide class="project__carousel__slide" v-for="(imageSrc, index) in images" :key="index">
            <div class="project__images">
              <img :src="`${pageBaseUrl}${imageSrc}`" />
            </div>
          </slide>
        </carousel>
      </div>
    </div>

    <div class="inner-wrapper text-center mt-3">
      <router-link class="u-button" to="/hire-us">{{ $t("services.requestButton") }}</router-link>
    </div>
  </div>
</template>

<script>
// service component, shows information about the selected service
import projects from "../../projects-information.json";
import { Carousel, Slide } from "vue-carousel";

// @vuese
export default {
  name: "service",

  data() {
    return {
      // projects information
      projects
    };
  },

  components: {
    // from vue-carousel
    Carousel,
    // from vue-carousel
    Slide
  },

  computed: {
    // return the services based on the current locale value: "es" or "en"
    services() {
      let locale = this.$i18n.locale
      let services = this.$i18n.messages[locale].services.services
      return services
    },

    // returns the service that match the current category
    service() {
      let service = this.services.find((service) => service.category === this.serviceCategory);
      // console.log(service.description.replace(/(?:\r\n|\r|\n)/g, '<br />'))

      this.$log.debug(service);
      return service;
    },

    // return current page category
    serviceCategory() {
      return this.$route.params.service.split("-").join(" ");
    },

    // returns images from each project
    // NOTE: this is temporal because I think defferent images has to be here
    images() {
      let images = this.projects.reduce((images, project) => {
          return images.concat(project.images)
        },
        []
      );

      return images
    },

    pageBaseUrl() {
      return process.env.VUE_APP_API_ENDPOINT;
    }
  },

  metaInfo() {
    let pageUrl = document.location.href;
    let title = this.$t("services.metaInfo.title")

    return {
      title,
      link: [
        {
          name: "canonical",
          content: pageUrl
        }
      ]
    };
  }
};
</script>

