<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'rest_framework/css/bootstrap.min.css' %}" type="text/css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style type="text/css">
    html,
    body {
      height: 100%
    }

    #image {
      max-height: 100px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 10%;
    }

    h3{
      padding-left: 50px;
    }
  </style>
</head>

<body class="body" style="background-color:#c0c9c7">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10">
      <br>
      <h1 style="text-align: center">{{ subject }}</h1>
    </div>
    <div class="col-sm-2">
      <br>
      <img src="https://kalwak.cr/static/icono.jpg"
           id="image" alt="kalwak-logo">
    </div>
  </div>
  <br>
  <div class='container-fluid'>
    <h3 style="text-align: left"> {{ name }} </h3>
  </div>
  <br>
  <div class='container-fluid'>
    <h3 style="text-align: left; display: inline"> Teléfono: {{ number }}</h3>
  </div>
  <br>
  <div class='container-fluid'>
    <h3 style="text-align: left; display: inline"> Correo: {{ user_email }}</h3>
  </div>

  <div class='container-fluid'>
    <h3 style="padding-bottom: 0; margin-bottom: 0">
      Consulta:
      <p style="text-align: left"> {{ description }}</p>
    </h3>

    <br>
  </div>
</div>
<footer>
</footer>

</body>

</html>
