<template>
  <div class="editor-container">
    <header class="editor__header">
      <h2 class="editor-title">Editor Kalwak</h2>
    </header>
    <div class="editor__body">
      <div class="editor-page">
        <label for="mainTitle">Titulo principal</label>
        <input class="post-main__title" placeholder="Titulo" id="mainTitle" v-model="post.title" />
        <div id="editor-holder"></div>
      </div>
      <div class="editor-settings">
        <div class="editor-toolbar">
          <span class="toolbar__item" @click="execCommand('undo')">
            <img
              src="@/assets/images/editor-icons/anterior.svg"
              alt="Anterior"
              class="toolbar__item-icon"
            />
          </span>
          <span class="toolbar__item toolbar__item--separator" @click="execCommand('redo')">
            <img
              src="@/assets/images/editor-icons/siguiente.svg"
              alt="Siguiente"
              class="toolbar__item-icon"
            />
          </span>
          <span class="toolbar__item not-avaliable">
            <img src="@/assets/images/editor-icons/more.svg" alt="Mas" class="toolbar__item-icon" />
          </span>
          <span class="toolbar__item toolbar__item--separator not-avaliable">
            <img src="@/assets/images/editor-icons/less.svg" alt="Menos" class="toolbar__item-icon" />
          </span>
          <span class="toolbar__item" @click="execCommand('bold')">
            <img
              src="@/assets/images/editor-icons/bold.svg"
              alt="Negrita"
              class="toolbar__item-icon"
            />
          </span>
          <span class="toolbar__item" @click="execCommand('italic')">
            <img
              src="@/assets/images/editor-icons/italic.svg"
              alt="Italica"
              class="toolbar__item-icon"
            />
          </span>
          <span class="toolbar__item toolbar__item--separator" @click="execCommand('underline')">
            <img
              src="@/assets/images/editor-icons/underline.svg"
              alt="Delineado"
              class="toolbar__item-icon"
            />
          </span>
          <span class="toolbar__item" @click="addList('ordered')">
            <img
              src="@/assets/images/editor-icons/ol.svg"
              alt="Ordernada"
              class="toolbar__item-icon"
            />
          </span>
          <span class="toolbar__item toolbar__item--separator" @click="addList('unordered')">
            <img
              src="@/assets/images/editor-icons/ul.svg"
              alt="Desordenada"
              class="toolbar__item-icon"
            />
          </span>
          <span class="toolbar__item" @click="execCommand('paste')">
            <img
              src="@/assets/images/editor-icons/paste.svg"
              alt="Pegar"
              class="toolbar__item-icon"
            />
          </span>
          <div class="w-100"></div>
          <span class="toolbar__item toolbar__item--separator" @click="addImage">
            <img
              src="@/assets/images/editor-icons/image.svg"
              alt="Imagen"
              class="toolbar__item-icon"
            />
          </span>
          <span class="toolbar__item not-avaliable">
            <img
              src="@/assets/images/editor-icons/left.svg"
              alt="Izquierda"
              class="toolbar__item-icon"
            />
          </span>
          <span class="toolbar__item toolbar__item--separator not-avaliable">
            <img
              src="@/assets/images/editor-icons/center.svg"
              alt="Centrar"
              class="toolbar__item-icon"
            />
          </span>
          <span class="toolbar__item not-avaliable">
            <img
              src="@/assets/images/editor-icons/preview.svg"
              alt="Vista previa"
              class="toolbar__item-icon"
            />
          </span>
        </div>
        <div class="editor-information-picker">
          <select-filter
            :options="categories"
            default-option="development"
            label="Categoria"
            class="post-category"
            @getOption="getTag"
          />
          <select-filter
            :options="authors"
            default-option="Joseph"
            label="Autor"
            class="post-category"
            @getOption="getAuthor"
          />
          <select-filter
            :options="languages"
            default-option="en"
            label="Language"
            class="post-category"
            @getOption="getLan"
          />
        </div>
      </div>
      <div class="saving-tools">
        <label
          for="thumbnail"
          class="mr-2 p-3 rounded text-white"
          :class="{ 'bg-success': post.thumbnail, 'bg-danger': !post.thumbnail }"
        >
          {{ !post.thumbnail ? 'Seleciona imagen thumbnail' : post.thumbnail.name }}
          <input
            type="file"
            class="form-control-file"
            @change="getThumbnail"
            id="thumbnail"
          />
        </label>
        <button class="u-button" @click="emitPostDataToParent" :disabled="loading">Crear</button>
      </div>
    </div>
  </div>
</template>

<script>
// editor component for the creation of post for the blog section
import EditorJS from "@editorjs/editorjs";
import editorConfig from "./editor.config";
import SelectFilter from "../sub-layout/select-filter";
import swal from "sweetalert";

// @vuese
export default {
  name: "BlogEditor",
  data() {
    return {
      categories: ["development", "social", "startup", "security", "design"],
      authors: ["Joseph", "Edwin", "Jennifer"],
      languages: ["en", "es"],
      editorIsReady: false,
      editorData: {},
      post: {
        title: "",
        author: "",
        tag: "",
        text: "",
        thumbnail: undefined,
        lan: ""
      }
    };
  },

  props: {
    loading: Boolean
  },

  components: {
    SelectFilter
  },

  methods: {
    // @vuese
    // wrapper method for calling document.execCommand(command)
    // @arg command a valid command to execute, like copy, undo, redo, etc...
    execCommand(command) {
      this.$log.debug(command);
      document.execCommand(command);
    },

    // @vuese
    // init editorJS instance and set the returned editorJS instance in window.editor
    // also checks if editor is ready by calling isReady and set editorIsReady to true if editor is ready
    initEditor() {
      this.$log.debug(this.editorData);
      window.editor = new EditorJS({ ...editorConfig, data: this.editorData });
      window.editor.isReady.then(() => {
        this.editorIsReady = true;
      });
    },

    // @vuese
    // insert editor list block
    // @arg type is a list type, ordered or unordered
    addList(type) {
      this.$log.debug(type);
      let editor = window.editor;
      editor.blocks.insert("list", {
        style: type === "ordered" ? type : "unordered"
      });
    },

    // @vuese
    // insert editor image block
    addImage() {
      let editor = window.editor;
      editor.blocks.insert("image");
    },

    // @vuese
    // wrapper for editor.save method which returns the editor data
    // NOTE: this function returns a promise, so handle it as one
    getEditorData() {
      return new Promise((resolve, reject) => {
        window.editor
          .save()
          .then(data => {
            resolve(data);
          })
          .catch(error => {
            reject(error);
          });
      });
    },

    // @vuese
    // save editor data to localStorage, but check if data.blocks has something in it, if it's empty
    // returns false and no data is saved
    saveDataToLocalStorage(editorData) {
      this.$log.debug(editorData);
      if (editorData.blocks && editorData.blocks.length === 0) return false;
      localStorage.setItem("_editor-data", JSON.stringify(editorData));
    },

    // @vuese
    // load the editorData from the localStorage and check if it's valid, then set value to
    // component editorData, else if it's not valid return false
    loadDataFromLocalStorage() {
      let editorData = JSON.parse(localStorage.getItem("_editor-data"));
      this.$log.debug(editorData);
      if (!editorData) return false;
      this.editorData = editorData;
    },

    // @vuese
    // clears the editor data saved in the localStorage
    // mostly used when post/article is already sent
    clearEditorData() {
      localStorage.setItem("_editor-data", JSON.stringify({}));
      this.editorData = {};
      this.post.title = "";
      this.post.thumbnail = undefined;
      window.editor.destroy();
      this.initEditor();
    },

    // @vuese
    // handler method to get the tag from select-filter @getOption event
    // @arg tag value from the @getOption payload
    getTag(tag) {
      this.$log.debug(tag);
      this.post.tag = tag;
    },

    // @vuese
    // handler method to get the author from select-filter @getOption event
    // @arg author value from the @getOption payload
    getAuthor(author) {
      this.$log.debug(author);
      this.post.author = author;
    },

    getLan(lan) {
      this.$log.debug(lan);
      this.post.lan = lan;
    },

    // @vuese
    // handler for @change event for input to get the thumbnail image
    // @arg event object
    getThumbnail(event) {
      this.$log.debug(event);
      let file = event.target.files[0];
      this.$log.debug(file);

      if (file.type.includes("image/")) {
        this.post.thumbnail = file;
      } else {
        this.$log.debug("file type should be an image");
        swal({
          title: "Notificación",
          text: "El archivo debe ser una imagen"
        });
      }
    },

    // @vuese
    //
    emitPostDataToParent() {
      let post = this.post;
      this.getEditorData()
        .then(data => {
          post.text = JSON.stringify(data.blocks);
          this.$log.debug(post);
          this.$emit("getPostData", post);
        })
        .catch(errors => {
          this.$log.error(errors);
        });
    }
  },

  mounted() {
    this.loadDataFromLocalStorage();
    this.initEditor();
  },

  beforeDestroy() {
    this.getEditorData().then((data) => {
      this.saveDataToLocalStorage(data);
    });
    window.editor.destroy();
  }
};
</script>