<!DOCTYPE html>

{% load i18n %}{% get_current_language as LANGUAGE_CODE %}<html lang={{ LANGUAGE_CODE }}>
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width,initial-scale=1" name="viewport">
        <link href="/static/favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
        <link href="/static/favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
        <link href="/static/favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
        <link href="/static/favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
        <link href="/static/favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
        <link href="/static/favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
        <link href="/static/favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
        <link href="/static/favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
        <link href="/static/favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
        <link href="/static/favicon/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png">
        <link href="/static/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
        <link href="/static/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
        <link href="/static/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
        <link href="/static/favicon/manifest.json" rel="manifest">
        <meta content="#ffffff" name="msapplication-TileColor">
        <meta content="/static/favicon/ms-icon-144x144.png" name="msapplication-TileImage">
        <meta content="#ffffff" name="theme-color">
        <title>
{% trans 'Kalwak | Desarrollo web' %}
        </title>
        <base href="/">
        <meta content="{% trans 'Kalwak desarrollo web y de software, haz que tu negocio sea conocido en internet' %}" name="description">
        <meta content="{% trans 'desarrollo web, desarrollo de software, dise&ntilde;o grafico, kalwak desarrollo web, creaci&oacute;n de p&aacute;ginas web' %}" name="keywords">
        <meta content="kalwak" name="author">
        <meta content="https://kalwak.cr" name="canonical">
        <link href="https://kalwak.cr" rel="canonical">
        <meta content="https://kalwak.cr" property="og:url">
        <meta content="{% trans 'kalwak | Desarrollo web y de software' %}" property="og:title">
        <meta content="kalwak" property="og:site_name">
        <meta content="website" property="og:type">
        <meta content="{% trans 'Desarrollo web y de software' %}" property="og:description">
        <meta content="https://kalwak.cr/assets/link-preview-image.jpg" property="og:image">
        <meta content="Kalwak branding logo" property="og:image:alt">
        <meta content="summary" name="twitter:card">
        <meta content="{% trans 'kalwak | Desarrollo web y de software' %}" name="twitter:title">
        <meta content="{% trans 'Desarrollo web y de software' %}" name="twitter:description">
        <meta content="https://kalwak.cr/static/link-preview-image.jpg" name="twitter:image">
        <meta content="Kalwak branding logo" name="twitter:image:alt">
        <style>
            noscript {
                color               : #fff;
                display             : block;
                background          : #243c96;
                padding             : 12px 20px;
                width               : 80%;
                max-width           : 600px;
                margin              : 80px auto;
                border-radius       : 4px;
                font-family         : sans-serif;
                font-size           : 0.9em;
                text-align          : center;
                box-shadow          : 0 10px 4px rgb(177, 175, 175);
            }
            @media screen and (min-width: 800px) {
                noscript {
                    font-size           : 1.2em;
                }
            }
        </style>
        <link href="/static/js/chunk-2440f294.87630fad.js" rel="prefetch">
        <link href="/static/js/chunk-24ebe46e.1d396d4d.js" rel="prefetch">
        <link href="/static/js/chunk-2d0ae5a4.76be52d6.js" rel="prefetch">
        <link href="/static/js/chunk-2d0af2dd.6a7819c2.js" rel="prefetch">
        <link href="/static/js/chunk-2d0e5e97.ce4fbca8.js" rel="prefetch">
        <link href="/static/js/chunk-2d22c114.8f4001ce.js" rel="prefetch">
        <link href="/static/js/chunk-336219ad.5c761114.js" rel="prefetch">
        <link href="/static/js/chunk-3c5c4335.23a39f59.js" rel="prefetch">
        <link href="/static/js/chunk-55cdc735.f672d034.js" rel="prefetch">
        <link href="/static/js/chunk-56d7409e.85c24084.js" rel="prefetch">
        <link href="/static/js/chunk-a1906d86.137efd67.js" rel="prefetch">
        <link href="/static/js/chunk-ba3e2368.3136aaf9.js" rel="prefetch">
        <link href="/static/js/chunk-bb25d7e4.e595f526.js" rel="prefetch">
        <link href="/static/js/chunk-be9fd444.095affb7.js" rel="prefetch">
        <link href="/static/js/chunk-e58fcecc.cb8a04fc.js" rel="prefetch">
        <link as="style" href="/static/css/app.1d4d66c2.css" rel="preload">
        <link as="style" href="/static/css/chunk-vendors.5eb572cb.css" rel="preload">
        <link as="script" href="/static/js/app.7d5e4ca6.js" rel="preload">
        <link as="script" href="/static/js/chunk-vendors.d70021d6.js" rel="preload">
        <link href="/static/css/chunk-vendors.5eb572cb.css" rel="stylesheet">
        <link href="/static/css/app.1d4d66c2.css" rel="stylesheet">
    </head>
    <body>
        <noscript>
            <strong>
{% trans 'Lo sentimos esta p&aacute;gina web no funciona sin JavaScript habilitado. Porfavor habilitelo' %}
            </strong>
        </noscript>
        <div id="app">
        </div>
        <script src="/static/js/chunk-vendors.d70021d6.js">
        </script>
        <script src="/static/js/app.7d5e4ca6.js">
        </script>
    </body>
</html>

