<template>
  <div id="app" class="container-fluid">
    <PageHeader></PageHeader>
    <PageMain></PageMain>
    <PageFooter></PageFooter>
  </div>
</template>

<script>
// app components, this is the root component
import PageHeader from "./components/layout/page-header.vue";
import PageMain from "./components/layout/page-main.vue";
import PageFooter from "./components/layout/page-footer.vue";
// import axios from "axios";


// @vuese
export default {
  name: "app",
  components: {
    // this represents the header element
    PageHeader,
    // this represents the main content
    PageMain,
    // this represent the footer element
    PageFooter
  }
}
</script>
