.editor-container {
  width: 100%;
  font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ddd;

  .editor__header {

    .editor-title {
      font-size: 1.3em;
      text-align: center;
      background-color: $blue-color;
      color: #fff;
      padding: 10px;
      font-weight: 600;
      letter-spacing: 2px;
    }
  }

  .editor__body {
    max-width: 1000px;
    border-radius: 6px;
    margin: 30px auto 0px;
    padding: 18px 60px;
    background-color: #fff;

    .editor-page {

      label {
        font-size: 0;
        position: absolute;
      }

      .post-main__title {
        width: 100%;
        font-size: 2.4em;
        margin: 20px auto;
        display: block;
        padding: 10px;
        border-radius: 4px;
        border: 2px solid $blue-color;
        font-weight: 600;
        text-align: center;

        &:focus {
          outline: none;
        }
      }

      #editor-holder {
        width: 100%;

        h1, h2, h3, h4, h5, h6 {
          font-weight: bold;
          margin: 20px 0 6px;
        }

        h1 {
          font-size: 2.4em;
        }
        h2 {
          font-size: 1.8em;
        } 
        h3 {
          font-size: 1.5em;
        }
        h4 {
          font-size: 1.3em;
        } 
        h5 { 
          font-size: 1em;
        } 
        h6 { 
          font-size: 0.9em;
        }

        .ce-paragraph {
          font-size: 1.1em;
          font-weight: 500;
        }
      }
    }

    .editor-settings {
      display: flex;
      align-items: flex-start;

      .editor-toolbar {
        padding: 4px 6px;
        box-shadow: 0 0 6px #000;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        background-color: #fff;

        .toolbar__item {
          -webkit-user-select: none;
          -ms-user-select: none;
          user-select: none;

          &:hover {
            background-color: #ddd;
            transition: .3s all linear;
          }

          .toolbar__item-icon {
            height: 40px;
            width: 40px;
            cursor: pointer;
            pointer-events: none;
          }
        }

        .toolbar__item--separator {
          position: relative;
          
          &::before {
            content: '';
            width: 1px;
            height: 32px;
            position: absolute;
            right: 0;
            top: 0;
            display: block;
            background-color: #ddd;
          }
        }
      }

      .editor-information-picker {
        margin-left: 12px;

        .filter-option {
          background-color: $green-color;
          color: #fff;
          margin-bottom: 2px;

          .options__list {
            background-color: inherit;

            .option {
              color: #fff;
              padding: 4px 8px;
              
              &:hover {
                opacity: 0.4;
              }
            }

            .selected-text {
              opacity: 0.4;
              color: #fff;
            }
          }
        }
      }
    }

    .saving-tools {
      margin-top: 50px;
      text-align: center;


      .form-control-file {
        width: 0;
        height: 0;
        position: absolute;
      }
    }
  }
}

.not-avaliable {
  background-color: #de432a !important;
}