<!--
  ABOUT US VIEW
  STRUCTURE OF THIS SECTION
  - DIV CONTAINER // WHICH ACTUALLY IS A COLUMN 
      - ABOUT-SECTION
        - INNER-WRAPPER CLASS // LIMIT PAGE WIDTH
          - WITHOUT CONTENT //
      - TEAM-SECTION
        - INNER-WRAPPER CLASS
          - TEAM-MEMBER COMPONENT // REPRESENTS A TEAM MEMBER
-->
<template>
  <div class="col-12">
    <div class="about-section">
      <div class="inner-wrapper">
        <p class="about-us__content">{{ $t("aboutUs.aboutCompany.description") }}</p>

        <h2 class="about-us__content-title">{{ $t("aboutUs.aboutCompany.mission.title") }}</h2>
        <p class="about-us__content">{{ $t("aboutUs.aboutCompany.mission.text") }}</p>

        <h2 class="about-us__content-title">{{ $t("aboutUs.aboutCompany.vision.title") }}</h2>
        <p class="about-us__content">{{ $t("aboutUs.aboutCompany.vision.text") }}</p>
      </div>
    </div>
    <div class="team-section">
      <div class="inner-wrapper">
        <team-member
          v-for="(member, index) in members"
          :key="index"
          :member="member"
        />
      </div>
    </div>
  </div>
</template>

<script>
// about-us view component, section to show information about kalwak and members information
import TeamMember from "@/components/sub-layout/team-member.vue";

// @vuese
export default {
  name: "about-us",
  components: {
    // team-member component, where information about the member will shown
    TeamMember
  },

  computed: {
    members() {
      let locale = this.$i18n.locale
      let members = this.$i18n.messages[locale].aboutUs.aboutCompany.members

      return members
    }
  },

  metaInfo() {
    let pageUrl = document.location.href;
    let title = this.$t("aboutUs.aboutCompany.metaInfo.title");

    return {
      title,
      link: [
        {
          name: "canonical",
          content: pageUrl
        }
      ]
    };
  }
};
</script>

