<!--
  BLOG VIEW
  STRUCTURE OF THIS SECTION
    DIV // CLASSES: COL-12 // MAIN CONTAINER FOR VIEW
      DIV // CLASSES: BLOG-SECTION // CONTAINER FOR BLOG SECTION
        H2 // CLASSES: BLOG-SECTION__TITLE // BLOG SECTION TITLE
        DIV // CLASSES: BLOG-BRAND // CONTAINER FOR BRAND LOGO
          IMG // CLASSES: BLOG-BRAND__IMAGE // IMAGE FOR BRAND-LOGO
        DIV // CLASSES: BLOG-CATEGORIES // CONTAINER FOR BLOG CATEGORIES
          SPAN // CLASSES: BLOG-CATEGORY__ITEM // CONTAINER FOR A PARTICULAR CATEGORY
        DIV // CLASSES: BLOG-SEARCH-BOX // CONTAINER FOR A SEARCH BOX
          DIV // CLASSES:SEARCH-BOX__BODY // BODY ELEMENT OF BLOG-SEARCH-BOX
            LABEL // CLASSES: D-NONE // LABEL FOR SEARCH-BOX__INPUT 
            INPUT // CLASSES: SEARCH-BOX__INPUT // INPUT FOR SEARCH-BOX
            SPAN // CLASSES: SEARCH-BOX__ICON ICON-SEARCH // BUTTON FOR SEARCHING
        DIV // CLASSES: BLOG-RESULTS-SECTION // CONTAINER FOR FILTER OPTIONS AND BLOGCARDSLIST VIEW
          DIV // CLASSES: BLOG-FILTER-OPTIONS // CONTAINER FOR THE FILTER OPTIONS
            SELECT-FILTER // COMPONENT TO PROVIDE OPTIONS
          DIV // CLASSES: INNER-WRAPPER // WIDTH LIMITER 
            ROUTER-VIEW // FOR BLOGCARDSLIST RESULTS
-->
<template>
  <div class="col-12">
    <div class="blog-section">
      <h2 class="blog-section__title">{{ $t("blog.title") }}</h2>
      <div class="blog-brand">
        <img
          src="@/assets/images/logo-second-style.svg"
          alt="Kalwak logo"
          title="Kalwak logo"
          class="blog-brand__image"
        />
      </div>
      <div class="blog-categories" :class="{ 'd-none': onSearching }">
        <span
          class="blog-category__item"
          v-for="(category, index) in categories"
          :key="index"
          :class="{ 'selected-text': category === $route.params.category }"
        >
          <router-link :to="getPath(category)">{{ i18nCategories[index] }}</router-link>
        </span>
        <div class="filter-option blog__categories">
          <span class="label">
            {{ $t("blog.categoryLabel") }}
            <span class="icon-down-open-mini"></span>
          </span>
          <div class="options__list">
            <span
              class="option"
              v-for="(category, index) in categories"
              :key="index"
              :class="{ 'selected-text': category === $route.params.category }"
            >
              <router-link :to="getPath(category)">{{ i18nCategories[index] }}</router-link>
            </span>
          </div>
        </div>
      </div>
      <div class="blog-search-box" :class="{ 'd-none': onSearching}">
        <div class="search-box__body">
          <label for="searchInput">{{ $t("blog.searchBox.placeholder") }}</label>
          <input
            type="search"
            class="search-box__input"
            id="searchInput"
            v-model="searchText"
            :placeholder="$t('blog.searchBox.placeholder')"
          />
          <span class="search-box__icon icon-search" :title="$t('blog.searchBox.title')" @click="setSearchText"></span>
        </div>
      </div>
      <div class="blog-results-section">
        <div
          class="blog-filter-options"
          :class="{ 'd-none': onSearching || $route.params.id || !$route.params.category }"
        >
          <select-filter
            :label="filter.years.label"
            default-option="All"
            :options="filter.years.years"
            @getOption="getYear"
            :aria-label="filter.years.label"
          />
          <select-filter
            :label="filter.months.label"
            default-option="All"
            :options="filter.months.months"
            @getOption="getMonth"
            :aria-label="filter.months.label"
          />
        </div>
        <div class="inner-wrapper">
          <router-view />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// Blog view, gives a header where search box and categories list is given and
// body where posts-cards and filter options are displayed
import { mapState } from "vuex";
import SelectFilter from "../components/sub-layout/select-filter.vue";

// @vuese
export default {
  name: "blog",
  data() {
    return {
      categories: [
      "all",
      "development",
      "social",
      "startup",
      "security",
      "design"
    ],
      searchText: ""
    };
  },

  computed: {
    ...mapState({
      onSearching: state => state.onSearching
    }),

    filter() {
      let locale = this.locale;
      let months = this.$i18n.messages[locale].blog.filter.months;
      let years = this.$i18n.messages[locale].blog.filter.years;

      return {
        years,
        months
      };
    },

    locale() {
      let locale = this.$i18n.locale;

      return locale;
    },

    i18nCategories() {
      let locale = this.locale
      let categories = this.$i18n.messages[locale].blog.categories

      return categories
    }
  },

  components: {
    SelectFilter
  },

  methods: {
    // @vuese
    // handles @input event for search input
    setSearchText() {
      let text = this.searchText;
      this.$log.debug(text);
      this.$store.commit("setSearchText", text);
    },

    // @vuese
    // get and set filter year
    // handler for @getOption custom event in the select-filter component
    // @arg year represents the year emitted by the select-filer
    getYear(year) {
      this.$log.debug(year);
      year = year === "Todos" || year === "All" ? "all" : year;
      this.$store.commit("setYear", year);
    },

    // @vuese
    // get and set filter month
    // handler for @getOption custom event in the select-filter component
    // @arg month represents the month emitted by the select-filer
    getMonth(month) {
      this.$log.debug(month);
      month = month === "Todos" || month === "All" ? "all" : month;
      this.$store.commit("setMonth", month);
    },

    // @vuese
    // format a new string with the category passed as argument
    // @arg category, representing a blog category
    getPath(category) {
      this.$log.debug(category);
      category = category.split(" ").join("-")
      let path = `/blog/${category}/page/1`;
      this.$log.debug(path);
      return path;
    }
  },

  metaInfo() {
    return {
      title: "Kalwak | Blog"
    };
  }
};
</script>