<template>
  <div class="col-12">
    <post-editor v-if="isLoggedIn" @getPostData="submistPost" :loading="loading" />
    <div
      v-if="loading"
      class="d-flex justify-content-center align-self-center bg-danger w-100" style="z-index: 10; position: absolute; margin-top: -300px">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
  </div>
</template>

<script>
// editor view, which has an editor component to create blog posts
import PostEditor from '../components/editor/editor';
import swal from 'sweetalert';
import uploadPost from '@/api/uploadPost';


// @vuese
export default {
  name: 'blog-editor',

  data() {
    return {
      isLoggedIn: false,
      token: '',
      loading: false
    }
  },

  components: {
    PostEditor,
  },

  methods: {
    // @vuese
    // checks if vue-session has the sesstion-token,
    // if not session token found, user will be redirected to /auth/login
    // else continue
    checkIfHasSessionToken() {
      this.$session.start();
      if (!this.$session.has('session-token')) return this.$router.push('/auth/login');
      this.isLoggedIn = true;
      this.token = this.$session.get('session-token');
    },

    // @vuese
    // 
    submistPost(postData) {
      this.loading = true
      this.$log.debug(postData)
      let token = this.token

      uploadPost(postData, token)
        .then(response => {
          this.$log.debug(response)
          swal({
            title: 'Notificación',
            text: 'Creado con exito',
            icon: 'success'
          })
        })

        .catch(errors => {
          this.$log.debug(errors)
          if (errors.response) {
            let response = errors.response 
            this.$log.debug(response)
            let status = response.status
            if (status === 400) {
              swal({
                title: 'Notificación',
                text: `Porfavor verifique lo siguiente:\n
                - un titulo para el post\n
                - que el titulo del post no pase de 100 caracteres\n
                - una imagen miniatura (thumbnail)\n
                - que el peso de la imagen thumbnail sea menor a 2.5MB`,
                icon: 'error'
              })
            }
          }

          // above I checked if at least the backend server was
          // sending some error response, else maybe user is offline
          // or the backend server is out service.
          else {
            swal({
              title: 'Notificación',
              text: 'Hubo un error intente de nuevo!',
              icon: 'error'
            })
          }
        })

        .finally(() => {
          this.loading = false
        })
    }
  },

  created() {
    this.checkIfHasSessionToken();
  },

  metaInfo() {
    return {
      title: 'Editor'
    }
  }
}
</script>