<!--
  HIRE-US VIEW
  STRUCTURE OF THIS SECTION
  - DIV // CLASSES: COL-12 // THIS IS THE MAIN CONTAINER FOR ALL THE SECTION
    - DIV // CLASSES: HIRE-US // CONTAINER FOR CONTACT FORM FOR HIRING US
      - H2 // CLASSES: HIRE-US__TITLE // MAIN TITLE OF THIS SECTION
      - DIV // CLASSES: INNER-WRAPPER // LIMITER FOR PAGE WIDTH
        - H3 // CLASSES: HIRE-US__SUB-TITLE // SUBTITLE OF THIS SECTION
        - FORM // CLASSES: HIRE-FORM // FORM WHERE INPUTS FOR PROJECT INFORMATION WILL BE GIVEN BY USER
          - DIV // CLASSES: HIRE-FORM__INPUTS // CONTAINER FOR INPUTS LIKE FNAME, LNAME, PHONENUMBER AND EMAIL
            - INPUT:VARY // CLASSES: HIRE-FORM__INPUT // INPUT FOR BASIC USER INFORMATION
          - DIV // CLASSES: SERVICE-PICKER // SECTION WHERE THE SERVICES WILL BE PICKED THROUGH CHECKBOXES
            - h4 // CLASSES: SERVICE-PICKER__TITLE // TITLE FOR THIS SECTION
            - DIV // CLASSES: SERVICE-PICKER__OPTIONS // CONTAINER FOR OPTIONS WHICH ARE CHECKBOXES AND LABELS
              - DIV // CLASSES: SERVICE-PICKER__OPTION // CONTAINER FOR CHECKBOX AND LABEL FOR SERVICE OPTION
                - INPUT:CHECKBOX // CLASSES: OPTION__CHECKBOX // INPUT TYPE CHECKBOX
                - LABEL // CLASSES: OPTION_LABEL // LABLE FOR CHECKBOX
          - DIV // CLASSES: HIRE-FORM__MESSAGE // CONTAINER FOR TEXTAREA
            - TEXTAREA // CLASSES: NONE // TEXTAREA TO GET INFORMATION ABOUT THE CLIENT'S THOUGHTS ABOUT HER/HIS PROJECT
          - DIV // CLASSES: HIRE-FORM__BUTTON // CONTAINER FOR BUTTON
            - BUTTON // CLASSES: U-BUTTON // BUTTON WHERE API POST WILL BE TRIGGERED
-->
<template>
  <div class="col-12">
    <div class="hire-us">
      <h2 class="hire-us__title">{{ $t("hireUs.title") }}</h2>
      <div class="inner-wrapper">
        <h3 class="hire-us__sub-title">{{ $t("hireUs.subtitle") }}</h3>
        <div id="service-form" class="hire-form">
          <div class="hire-form__inputs">
            <label for="fName">{{ $t("hireUs.form.name") }}</label>
            <input
              type="text"
              class="hire-form__input"
              id="fName"
              v-model="serviceRequest.firstName"
              :placeholder="$t('hireUs.form.name')"
              name="name"
            />
            <label for="lName">{{ $t('hireUs.form.lastname') }}</label>
            <input
              type="text"
              class="hire-form__input"
              id="lName"
              v-model="serviceRequest.lastName"
              :placeholder="$t('hireUs.form.lastname')"
              name="lastname"
            />
            <label for="phone">{{ $t('hireUs.form.phonenumber') }}</label>
            <input
              type="tel"
              class="hire-form__input"
              id="phone"
              v-model="serviceRequest.telephone"
              :placeholder="$t('hireUs.form.phonenumber')"
              name="telephone"
            />
            <label for="email">{{ $t('hireUs.form.email') }}</label>
            <input
              type="email"
              class="hire-form__input"
              id="email"
              name="email"
              v-model="serviceRequest.email"
              :placeholder="$t('hireUs.form.email')"
            />
          </div>
          <div class="service-picker">
            <h4 class="service-picker__title">{{ $t("hireUs.form.servicePicker.title") }}</h4>
            <div class="service-picker__options">
              <div v-for="(option, idx) in options" class="service-picker__option" :key="idx">
                <input
                  type="checkbox"
                  :value="option.name"
                  :id="option.id"
                  class="option__checkbox"
                  v-model="serviceRequest.services"
                  name="services"
                />
                <label :for="option.id" class="option__label">{{ option.name }}</label>
              </div>
            </div>
            <small class="note-message">*{{ $t("hireUs.form.servicePicker.note") }}</small>
          </div>
          <div class="hire-form__message">
            <label for="message">{{ $t("hireUs.form.enquiry") }}</label>
            <textarea
              v-model="serviceRequest.description"
              id="message"
              :placeholder="$t('hireUs.form.messagePlaceholder')"
              name="description"
            />
          </div>
          <div class="hire-form__files">
            <input
              type="file"
              id="inputFile"
              class="files__input"
              lang="es"
              multiple
              name="files"
              @change="getUserFiles"
            />
            <label for="inputFile" class="files__label">{{ $t("hireUs.form.files.attachFiles") }}</label>
            <span
              class="files__output-label"
            >{{ $t("hireUs.form.files.numOfFiles") }} {{ numberOfSelectedFiles }}</span>
            <small
              class="text-muted w-100 text-center my-2 text-uppercase"
            >{{ $t("hireUs.form.files.maxFileSize") }} 2.4MB</small>
          </div>
          <div class="hire-form__recaptcha">
            <vue-recaptcha theme="dark" :sitekey="recaptcha" :loadRecaptchaScript="true" :language="$i18n.locale" @verify="reCaptchaVerified"></vue-recaptcha>
          </div>
          <div class="hire-form__button">
            <button
              class="u-button"
              :disabled="buttonDisabled"
              type="button"
              @click="sendServiceRequest"
            >{{ $t("hireUs.form.requestService") }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// hire-us view component, provides an interface where the client is able to make a consultation for a centain service
import swal from "sweetalert";
import sendServiceRequest from "@/api/sendServiceRequest";
import { getErrorsMessageFromErrorsOject } from "@/utils/utils";
import VueRecaptcha from 'vue-recaptcha';

// @vuese
export default {
  name: "hire-us",
  components: {VueRecaptcha},
  data() {
    return {
      filesSizeLimit: 2400000, // 2.4MB
      // form info
      serviceRequest: {
        firstName: "",
        lastName: "",
        email: "",
        description: "",
        telephone: "",
        files: [],
        services: []
      },
      recaptchaKey: null,

      isLoading: false,
      locale: this.$i18n.locale,
      notificationString: this.$i18n.messages[this.$i18n.locale].hireUs.form
        .notification
    };
  },

  computed: {
    recaptcha(){
        return process.env.VUE_APP_RECAPTCHA_KEY;
    },
    // returns the options for the form on the different services we provide depending on the selected language
    options() {
      return this.$i18n.messages[this.locale].hireUs.form.servicePicker
        .services;
    },
    // returns true if any of the required inputs is empty, else returns false
    buttonDisabledByInputs() {
      return (
        !this.serviceRequest.firstName ||
        !this.serviceRequest.lastName ||
        !this.serviceRequest.telephone ||
        !this.serviceRequest.email ||
        !this.serviceRequest.description ||
        !this.recaptchaKey ||
        this.isLoading
      );
    },

    // button disabled based on buttonDisabledByInputs, this will be used to disabled cotizar button
    buttonDisabled() {
      return this.buttonDisabledByInputs;
    },

    // the number of selected files from the file input
    numberOfSelectedFiles() {
      let numberOfFiles = this.serviceRequest.files.length;
      return numberOfFiles;
    }
  },

  methods: {
    //@vuese
    // Saves the verified token in this.reCaptchaKey to be sent with the auth form
    //@arg token, the obtained reCaptcha token from Google
    reCaptchaVerified(token){
        this.recaptchaKey = token;
    },
    // @vuese
    // used to get files from file input and then store in the serviceRequest object
    // @arg event, representing event object provided by change event
    getUserFiles(event) {
      // reset files
      this.serviceRequest.files = [];

      let files = event.target.files;
      let orderedFiles = [...files].sort(
        (fileA, fileB) => fileA.size - fileB.size
      );

      // this.serviceRequest.files = files;
      let filesSizeLimit = this.filesSizeLimit;
      let currentFilesSize = 0;
      let notIncludedFilesMessage = this.$i18n.messages[this.locale].hireUs.form
        .files.warning;
      let thereIsAFileSizeError = false;

      for (let index = 0; index < orderedFiles.length; index++) {
        let file = files[index];

        if (file.size + currentFilesSize <= filesSizeLimit) {
          this.serviceRequest.files.push(file);
          currentFilesSize += file.size;
        } else {
          notIncludedFilesMessage += `- ${file.name}`;
          thereIsAFileSizeError = true;
        }
      }

      if (thereIsAFileSizeError) {
        swal({
          title: this.notificationString,
          icon: "warning",
          text: notIncludedFilesMessage
        });
      }
    },

    // @vuese
    // used to send information about the client's request
    // to the backend service
    sendServiceRequest() {
      let { serviceRequest } = this;
      this.isLoading = true;

      let successMessage = this.$i18n.messages[this.locale].hireUs.form.success;
      sendServiceRequest(serviceRequest, this.recaptchaKey)
        .then(data => {
          this.$log.debug(data);

          swal({
            title: this.notificationString,
            icon: "success",
            text: successMessage
          });
          this.clearServiceRequest();
        })
        .catch(error => {
          this.$log.debug(error);

          if (error.response) {
            let { data: errors, status } = error.response;

            /* 
              TODO: normalize the errors, error.response should be in the form of
              {
                "errorName": "errorMessage"
              }
            */

            // since I'm getting a 5xx error I will just show the statusText of the request
            let errorsMessage =
              status === 400
                ? getErrorsMessageFromErrorsOject(errors)
                : error.response.statusText;
            // show a different icon depending on the request status
            let iconType = status > 399 && status < 500 ? "warning" : "error";

            swal({
              title: this.notificationString,
              icon: iconType,
              text: errorsMessage
            });

            return false;
          }

          let errorMessage = this.$i18n.messages[this.locale].hireUs.form.error;
          // to work later if the server is not
          // sending anything
          swal({
            title: this.notificationString,
            icon: "error",
            text: errorMessage
          });
        })
        .finally(() => {
          this.isLoading = false;
        });
    },

    // @vuese
    // clears serviceRequest object
    clearServiceRequest() {
      this.serviceRequest = {
        firstName: "",
        lastName: "",
        email: "",
        description: "",
        telephone: "",
        files: [],
        services: []
      };
    }
  },

  // metadata for this page
  metaInfo() {
    let pageUrl = document.location.href;
    let metaTitle = this.$i18n.messages[this.locale].hireUs.metaTitle;
    return {
      title: metaTitle,
      link: [
        {
          name: "canonical",
          content: pageUrl
        }
      ]
    };
  }
};
</script>