<!--
  HOME VIEW
  STRUCTURE OF THIS SECTION
  - MAIN COLUMN
    - BANNER // CONTAINER FOR BANNER
      - INNER-WRAPPER
        - BANNER__TEXT // CONTAINER FOR BANNER TEXT
          - BANNER__TITLE
          - BANNER__DESCRIPTION
    - PROJECTS-SECTION
      - INNER-WRAPPER
        - PROJECTS__TITLE // TITLE OF THIS SECTION
        - CAROUSEL // MAIN CONTAINER FOR PROJECTS CAROUSEL, ALSO HAS PROJECTS-SLIDER CLASS
          - SLIDE // CONTAINER FOR PROJECT INFORMATION, HAS PROJECT-SLIDE CLASS
            - IMAGE__CONTAINER // CONTAINER FOR PROJECT COVER IMAGE
              - COVER IMAGE WITH CLASS PROJECT__IMAGE
            - INFORMATION__CONTAINER // 
              - PROJECT__CATEGORY
--->
<template>
  <div class="col-12">
    <section class="information-section">
      <h2 class="information-section__title">
        <span class="information-section__title-text">{{ informationSection.title.main }}</span>
        <span class="information-section__title-text">{{ informationSection.title.secondary }}</span>
      </h2>

      <div class="inner-wrapper">
        <information-cards-carousel :cards="informationSection.cards"></information-cards-carousel>
      </div>
    </section>

    <div class="projects-container">
      <div class="inner-wrapper">
        <h3 class="projects__title" v-if="!loadingProjects">{{ $t("home.sliderSection.title") }}</h3>
        <carousel
          v-if="!loadingProjects"
          :key="1"
          :per-page="1"
          :loop="true"
          :autoplay="true"
          :autoplay-timeout="4000"
          :navigation-click-target-size="0"
          :navigation-enabled="true"
          :pagination-enabled="false"
          navigation-prev-label="<span class='icon-left-arrow'></span>"
          navigation-next-label="<span class='icon-right-arrow'></span>"
          class="projects-slider animated zoomIn"
        >
          <slide class="project-slide" v-for="(project) in projects" :key="project.id">
            <div class="image__container">
              <img
                :src="project.cover_page"
                :alt="project.name"
                class="project__image"
                @click="goToProjectByCategory(project.categories)"
              />
            </div>
            <div class="information__container">
              <h3 class="project__category">{{ project.name }}</h3>
            </div>
          </slide>
        </carousel>
        <div class="project-loader" v-if="loadingProjects">
          <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
          </div>
        </div>
      </div>
    </div>

    <section class="posts-widget" v-if="!errorOnGettingPosts && threeFirstPosts.length">
      <div class="inner-wrapper">
        <h4 class="posts-widget__title">{{ $t("home.postsWidget.title") }}</h4>
        <div class="posts-cards" :class="{'right-margin': threeFirstPosts.length < 3}">
          <post-card v-for="post in threeFirstPosts" :key="post.id" :post="post"></post-card>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
// home view
import { ProjectService } from "../services/project_service";
import { Carousel, Slide } from "vue-carousel";
import PostCard from "../components/sub-layout/post-card";
import InformationCardsCarousel from "../components/sub-layout/information-cards-carousel";
import getBlogListByPage from "../api/getBlogListByPage";
const apiService = new ProjectService();

// @vuese
export default {
  name: "home",

  components: {
    // from vue-carousel, this is the carousel main container
    Carousel,
    // from vue-carousel, this is the slide that goes into caoursel component
    Slide,
    PostCard,
    InformationCardsCarousel
  },

  data() {
    return {
      projects: [],
      loadingProjects: false,
      posts: [],
      errorOnGettingPosts: false
    };
  },

  computed: {
    threeFirstPosts() {
      let posts = this.posts;
      let postsCount = posts.length;
      let firstPosts = [];

      for (let index = 0; index < postsCount; index++) {
        if (index < 3) {
          firstPosts.push(posts[index]);
        }
      }

      return firstPosts;
    },

    informationSection() {
      let informationSection = this.$t("home.informationSection")
      return informationSection;
    }
  },

  methods: {
    // @vuese
    // used to get project from the backend api
    // and set data property projects to the projects from the api response
    getProjects() {
      const self = this;
      this.loadingProjects = true;
      // Gives us a list of projects from the django backend
      apiService
        .getProjects()
        .then(data => {
          self.projects = data;
        })
        .catch(err => console.error(err))
        .finally(() => self.loadingProjects = false)
    },

    // @vuese
    // formats a category like "web-development" to "Web development"
    // @return the formatted category
    formatCategory(category) {
      let formattedCategory = category.split("-").join(" ");
      formattedCategory =
        formattedCategory.charAt(0).toUpperCase() + formattedCategory.slice(1);

      return formattedCategory;
    },

    // @vuese
    // navigates to selected category in the projects section
    // @arg category a string which represents the category in the projects section
    goToProjectByCategory(category) {
      this.$router.push(`/projects/${category}`);
    }
  },

  mounted() {
    this.getProjects();

    getBlogListByPage(1)
      .then(results => {
        this.posts = results;
      })
      .catch(() => {
        this.errorOnGettingPosts = true;
      });
  },

  metaInfo() {
    let pageUrl = document.location.href;
    let title = this.$t("home.metaInfo.title");

    return {
      title,
      link: [
        {
          name: "canonical",
          content: pageUrl
        }
      ]
    };
  }
};
</script>
