<template>
  <div class="col-12">
    <div class="login-section">
      <img src="@/assets/images/logo-second-style.png" alt="kalwak logo" title="kalwak logo" class="login-section__icon">
      <form class="login__form" v-if="!onLoading">
        <div class="form-group">
          <label for="username" class="hidden-label">Nombre de usuario</label>
          <input type="text" class="form-input" placeholder="Nombre de usuario" id="username" v-model="credentials.username" autocomplete="off" />
        </div>
        <div class="form-group">
          <label for="password" class="hidden-label">Contraseña</label>
          <input type="password" class="form-input" placeholder="contraseña" id="password" v-model="credentials.password" autocomplete="off" />
        </div>
        <div class="form-group text-center">
          <button class="u-button" :disabled="emptyCredentials" @click="login" aria-label="submit button">iniciar sesión</button>
        </div>
        <div class="form-group">
          <vue-recaptcha class="recaptcha" :sitekey="recaptcha" :loadRecaptchaScript="true" :language="$i18n.locale" @verify="reCaptchaVerified"></vue-recaptcha>
        </div>
      </form>
      <div class="spinner" v-else>
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
  </div>
</template>

<script>
// login section view
import submitLogin from '../api/login';
import swal from 'sweetalert';
import VueRecaptcha from 'vue-recaptcha';



// @vuese
export default {
  name: 'login',
  components: {VueRecaptcha},
  data() {
    return {
      credentials: {
        username: '',
        password: ''
      },
      reCaptchaKey: null,
      onLoading: false
    };
  },

  computed: {
    emptyCredentials() {
      let { username, password } = this.credentials;
      return !username || !password || !this.reCaptchaKey;
    },
    recaptcha(){
        return process.env.VUE_APP_RECAPTCHA_KEY;
    }
  },

  methods: {
    //@vuese
    // Saves the verified token in this.reCaptchaKey to be sent with the auth form
    //@arg token, the obtained reCaptcha token from Google
    reCaptchaVerified(token){
      this.reCaptchaKey = token;
    },

      // @vuese
    // checks whether credentials are empty, if so
    // shows an alert, if fields are not empty
    // onLoading is set to true and submitLogin function is called
    // with the credentials as argument.
    // submitLogin ruturns a promise where if success
    // jwt token is returned, else  shows an alert showing the login errors
    login() {
      if (this.emptyCredentials) {
        this.showWarningAlert('Complete los campos')
      }

      this.onLoading = true
      submitLogin(this.credentials, this.reCaptchaKey)
        .then(this.handleLoginResponse) 
        .catch(this.handleLoginErrors)
        .finally(() => {
          this.onLoading = false
        })
    },

    // @vuese
    // handler for submitLogin response
    // used to save token with vue-session and redirect user to previous page
    handleLoginResponse(token) {
      this.$session.start();
      this.$session.set('session-token', token);
      this.showWarningAlert(`Bienvenido ${this.credentials.username}`, 'success');
      this.resetCredentialsValues();
      this.$router.go(-1);
    },

    // @vuese
    // handle for submitLogin rejection
    // used to show login errors
    handleLoginErrors(errors) {
      if (errors === 'BAD_CREDENTIALS') {
        this.showWarningAlert('Complete los campos')
      } else {
        if (errors.request) {
          let request = errors.request;
          let status = request.status;
          if (status === 400) return this.showWarningAlert('Nombre de usuario o contraseña incorrectos');
          if (status === 500 ) return this.showWarningAlert('Hubo un error en el servidor, intente otra vez');
        }
      }
    },

    // @vuese
    // show an alert with the given argument as text
    // @arg text, text shown as alert
    showWarningAlert(text, iconType = 'warning') {
      swal({
        title: 'Noticación',
        text: text,
        icon: iconType
      });
    },

    // @vuese
    // clears data credentials by setting an empty object
    // as its new value
    resetCredentialsValues() {
      this.credentials = {}
    }
  },

  metaInfo() {
    let pageUrl = document.location.href;
    return {
      title: "iniciar sesión",
      link: [
        {
          name: "canonical",
          content: pageUrl
        }
      ]
    };
  }
}
</script>