<template>
  <div class="col-12">
    <div class="alert alert-danger text-center not-found">
      {{ $t("notFound.textBefore") }} 
      <router-link to="/">{{ $t("notFound.textBetween") }}</router-link>
      {{ $t("notFound.textAfter") }}
    </div>
  </div>
</template>