<!--
  SERVICES VIEW
  STRUCTURE OF THIS SECTIION
  -CATEGORY-LiST // LIST OF CATEGORIES FOR SERVICES
    - INNER-WRAPPER // LIMIT WIDTH
  - ROUTER-VIEW // ROUTE WILL MATCH A SERVICE ...

-->
<template>
  <div class="col-12">
    <div class="category-list" aria-label="lista de categorias">
      <div class="inner-wrapper">
        <div class="list__category">
          <router-link to="/services/web-development">
            <img
              :src="requireCategoryByNameAndFolderLanguage('category-1.svg', folderLanguage)"
              :alt="$t('categoriesList.webDevelopment')"
              class="category__icon"
            />
          </router-link>
        </div>
        <div class="list__category">
          <router-link to="/services/web-payments">
            <img
              :src="requireCategoryByNameAndFolderLanguage('category-2.svg', folderLanguage)"
              :alt="$t('categoriesList.webPayments')"
              class="category__icon"
            />
          </router-link>
        </div>
        <div class="list__category">
          <router-link to="/services/inventory-systems">
            <img
              :src="requireCategoryByNameAndFolderLanguage('category-3.svg', folderLanguage)"
              :alt="$t('categoriesList.inventorySystems')"
              class="category__icon"
            />
          </router-link>
        </div>
        <div class="list__category">
          <router-link to="/services/graphic-design">
            <img
              :src="requireCategoryByNameAndFolderLanguage('category-4.svg', folderLanguage)"
              :alt="$t('categoriesList.graphicDesign')"
              class="category__icon"
            />
          </router-link>
        </div>
        <div class="list__category d-none">
          <router-link to="/services/products">
            <img 
              :src="requireCategoryByNameAndFolderLanguage('category-5.svg', folderLanguage)" 
              :alt="$t('categoriesList.services')"
              class="category__icon" 
            />
          </router-link>
        </div>
      </div>
    </div>
    <router-view />
  </div>
</template>

<script>
import { requireCategoryByNameAndFolderLanguage } from "@/utils/utils";

export default {
  name: "services",
  computed: {
    folderLanguage() {
      let locale = this.$i18n.locale
      let folderLanguage = locale === "es" ? "spanish" : "english"
      
      return folderLanguage
    }
  },

  methods: {
    requireCategoryByNameAndFolderLanguage
  }
}
</script>