<template>
  <div>
    <template v-for="(block, index) in content">
      <template v-if="block.type === 'header'">
        <heading :level="block.data.level" :text="block.data.text" :key="index" />
      </template>

      <template v-if="block.type === 'paragraph'">
        <p :key="index" v-html="block.data.text" class="post__paragraph"></p>
      </template>

      <template v-if="block.type === 'image'">
        <img
          :key="index"
          :src="block.data.file.url"
          class="post__image"
          :class="{ 'no-caption': !block.data.caption, 'small-image': block.data.withBackground }"
        />
        <p
          :key="'image-caption-' + index"
          class="post__image-caption"
          v-if="block.data.caption"
          v-html="block.data.caption"
        ></p>
      </template>

      <template v-if="block.type === 'list' && block.data.style === 'ordered'">
        <ol class="post__list" :key="index">
          <li v-for="(item, itemIndex) in block.data.items" :key="itemIndex" v-html="item"></li>
        </ol>
      </template>

      <template v-if="block.type === 'list' && block.data.style === 'unordered'">
        <ul class="post__list" :key="index">
          <li v-for="(item, itemIndex) in block.data.items" :key="itemIndex" v-html="item"></li>
        </ul>
      </template>

      <template v-if="block.type === 'embed'">
        <iframe
          :key="index"
          :src="block.data.embed"
          :width="block.data.width"
          :height="block.data.height"
          allowfullscreen="true"
        ></iframe>
        <p
          :key="'embed-caption-' + index"
          class="post__embed-caption"
          v-html="block.data.caption"
        ></p>
      </template>

      <template v-if="block.type === 'code'">
        <pre :key="index">
          <code class="post__code">
{{ block.data.code }}
          </code>
        </pre>
      </template>
    </template>
  </div>
</template>

<script>
// component to where the post content data will be render
import Heading from "./utils/post-heading.js";

// @vuese
export default {
  name: "article-content",
  props: {
    // content
    content: {
      type: Array,
      required: true
    }
  },

  components: {
    Heading
  }
};
</script>