<!--
  CATEGORY LIST
  STRUCTURE OF THIS SECTION
    - CONTAINER FOR CATEGORY LIST
        - INNER WRAPPER // THIS IS A UTILITY CLASS TO LIMIT CONTENT WIDTH
        - LIST CATEGORY CONTAINER // THIS IS WHERE A CATEGORY WILL BE PLACED
          - ROUTER-LINK // TO MATCHED TO THE CATEGORIES ROUTES [WEB-DEVELOPMENT, WEB-PAYMENT, INVENTORY-SYSTEMS, GRAPHIC-DESIGN]
            - IMAGE TO SHOW AS AN ICON FOR THE CATEGORY
--->
<template>
  <div class="category-list" aria-label="lista de categorias">
    <div class="inner-wrapper">
      <div class="list__category">
        <router-link to="/projects/web-development">
          <img
            :src="requireCategoryByNameAndFolderLanguage('category-1.svg', folderLanguage)"
            :alt="$t('categoriesList.webDevelopment')"
            class="category__icon"
          />
        </router-link>
      </div>
      <div class="list__category d-none">
        <router-link to="/projects/web-payments">
          <img
            :src="requireCategoryByNameAndFolderLanguage('category-2.svg', folderLanguage)"
            :alt="$t('categoriesList.webPayments')"
            class="category__icon"
          />
        </router-link>
      </div>
      <div class="list__category d-none">
        <router-link to="/projects/inventory-systems">
          <img
            :src="requireCategoryByNameAndFolderLanguage('category-3.svg', folderLanguage)"
            :alt="$t('categoriesList.inventorySystems')"
            class="category__icon"
          />
        </router-link>
      </div>
      <div class="list__category">
        <router-link to="/projects/graphic-design">
          <img
            :src="requireCategoryByNameAndFolderLanguage('category-4.svg', folderLanguage)"
            :alt="$t('categoriesList.graphicDesign')"
            class="category__icon"
          />
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
// category list, used to give a way to select the category for a certain work we've done
import { ProjectService } from "../../services/project_service";
import { requireCategoryByNameAndFolderLanguage } from "@/utils/utils";

function format_to_slug(string) {
  string = string.replace(" ", "-");
  return string;
}

// @vuese
export default {
  name: "category-list",

  computed: {
    // category that comes from the router params
    category() {
      let category = this.$route.params.category;
      return category ? category.split("-").join(" ") : "web-development";
    },

    folderLanguage() {
      let locale = this.$i18n.locale
      let folderLanguage = locale === "es" ? "spanish" : "english"
      
      return folderLanguage
    }
  },

  methods: {
    requireCategoryByNameAndFolderLanguage
  },

  // every time the component is render, the created method will
  // get services based on the current category which comes from $route.params.category
  created() {
    const self = this;

    let service = new ProjectService();
    service
      .getProjects()
      .then(data => {
        self.$store.commit("setAllProjects", data);
        self.$store.commit("setCategory", format_to_slug(self.category));
        self.$store.dispatch("setProjectsByCategory");
      })
      .catch(err => console.error(err));
  },

  watch: {
    // watcher for category that comes from $router.params.category,
    // used to get Projects by category
    category(newCategory) {
      const self = this;
      self.$store.commit("setCategory", format_to_slug(newCategory));
      self.$store.dispatch("setProjectsByCategory");
    }
  }
};
</script>
