<template>
  <div class="chatbot-container" @click.stop>
    <div class="chatbot__header">
      <h5 class="chatbot__header-title">
        <img src="~@/assets/images/logo.svg" width="100px" alt="Kalwak logo" />
      </h5>
      <div class="chatbot__header-settings">
        <span class="chatbot__setting-icon" @click="clearMessages" :title="$t('chatbot.clear')">
          <img
            src="~@/assets/images/chatbot-icons/refresh-icon.svg"
            :alt="$t('chatbot.clear')"
            class="setting-icon__image"
          />
        </span>
        <span class="chatbot__setting-icon" @click="closeChatbot" :title="$t('chatbot.close')">
          <img
            src="~@/assets/images/chatbot-icons/close-icon.svg"
            :alt="$t('chatbot.close')"
            class="setting-icon__image"
          />
        </span>
      </div>
    </div>
    <div class="chatbot__body">
      <div class="chatbot-messages__container" ref="messages">
        <div
          class="message-container"
          :class="{ 'bubble--right': message.type === 'human' }"
          v-for="message in messages"
          :key="message.id"
        >
          <p
            class="message__bubble animated fadeIn"
            :class="{ 'orange--bubble': message.type === 'bot' }"
          >
          <!-- rendering bot messages as html and user messages as text -->
            <span 
              v-if="message.type === 'bot'"
              class="message__text" 
              v-html="message.text"
            >
            </span>
            <span 
              v-else
              class="message__text" 
              v-text="message.text"
            >
            </span>
            <small class="message__information">{{ message.time }}</small>
          </p>
        </div>

        <div class="loadingIcon" v-if="isLoading">
          <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>
      </div>
      <div class="chatbot-input__container">
        <input
          type="text"
          class="input-text"
          :placeholder="$t('chatbot.inputPlaceholder')"
          v-model="message"
          @keyup.enter="pushMessage(fullMessage)"
          ref="messageInput"
        />
        <button class="send-button" @click="pushMessage(fullMessage)" :disabled="invalidInput">
          <img src="~@/assets/images/chatbot-icons/send-icon.svg" :alt="$t('chatbot.inputSend')" :title="$t('chatbot.inputSend')" />
        </button>
      </div>
    </div>
  </div>
</template>

<script>
// chat-bot component, provides chat inbox where the messages will be sent to the backend chatbot service
import axios from "axios";
import swal from "sweetalert";

// @vuese
export default {
  name: "chat-bot",

  data() {
    return {
      // messages is an array with all the messages
      messages: [],
      isLoading: false,

      // user message
      message: "",

      locale: this.$i18n.locale,
      notificationString: this.$i18n.messages[this.$i18n.locale].hireUs.form.notification
    };
  },

  computed: {
    // return an object with full information about the user message
    // like message id, message type, by default is human, text which the user message and message time
    fullMessage() {
      let time = this.getTime(new Date);
      return {
        type: "human",
        text: this.message,
        time,
        ip: this.userIp
      };
    },

    // invalidInput // checks if message is empty, if it's empty return true else false
    invalidInput() {
      return !this.message.trim().length;
    },

    // composed chatbotApi url
    // got based api url from process.env.VUE_APP_API_ENDPOINT
    chatbotApi() {
      let baseUrl = process.env.VUE_APP_API_ENDPOINT;
      let chatbotUrl = `${baseUrl}/api/chatbot/`;
      return chatbotUrl;
    },

    userIp() {
      let ip = this.$store.state.userIp;
      return ip;
    },

    // get current $path form $route
    currentPath() {
      return this.$route.path;
    }
  },

  methods: {
    // @vuese
    // push all full message to messages array,
    // @arg bubbleMessage is an object container message information like, id, time, message
    // @arg disabledIp, default false
    pushMessage(bubbleMessage) {
      if (!this.invalidInput) {
        this.message = "";
        this.PostMessageToChatbot({
          ip: bubbleMessage.ip,
          msg: this.cleanMessage(bubbleMessage.text),
          current_vue_path: this.currentPath
        });
        this.saveMessageToLocalStorage(bubbleMessage);
        this.loadMessagesFromLocalStorage();

        // when the new message is already added in dom
        this.$nextTick(function() {
          this.scrollBottom();
        });
        this.focusInput();
      }
    },

    // @vuese
    // turn the message into a ascii string and remove any non alphanumeric characters
    // @arg messageText a string containing the message entered by the user
    cleanMessage(messageText){
      // Turn UTF message to ASCII. Needed for backend Rivescript processing
      let ascii= messageText.normalize("NFD").replace(/[\u0300-\u036f]/g, "")

      // Remove non alphanumeric characters
      ascii = ascii.replace(/[^a-z0-9]|\s+|\r?\n|\r/gmi, " ")
      return ascii
    },

    // @vuese
    // close chatbot inbox by emitting a custom event,
    // in the parent component, the event will be triggered and
    // chatbot will be removed from dom
    closeChatbot() {
      this.$emit("close-chatbot");
    },

    // @vuese
    // scroll to bottom of the message inbox
    // used when new messages are added to inbox messages container
    // so the client messages view will always be in the last message
    scrollBottom() {
      const messagesContainer = this.$refs.messages;
      messagesContainer.scrollTop = messagesContainer.scrollHeight;
    },

    // @vuese
    // focus message input by calling focus method,
    // called in the mounted method
    focusInput() {
      this.$refs.messageInput.focus();
    },

    //@vuese
    // clear messages of the localStorage _messages.messages
    clearMessages() {
      let _messages = JSON.parse(localStorage.getItem("_messages"));
      if (typeof _messages === "object") {
        if (!_messages.messages) return false;
        _messages.messages = [];
        localStorage.setItem("_messages", JSON.stringify(_messages));
        this.loadMessagesFromLocalStorage();
      } else return false;
    },

    // @vuese
    // returns a string with the time but without the seconds and with the AMP/PM indicator
    // @arg time Date // Just a Date instance
    getTime(date) {
      let hours = date.getHours();
      let minutes = date.getMinutes();
      let ampm = hours >= 12 ? 'pm' : 'am';
      hours = hours % 12;
      hours = hours ? hours : 12; // the hour '0' should be '12'
      minutes = minutes < 10 ? '0'+minutes : minutes;
      return hours + ':' + minutes + ' ' + ampm.toUpperCase();
    },

    // @vuese
    // push bot response to localStoge _messages.messages object
    // @arg response, contains bot response message
    setChatbotResponseMessage(response) {
      let message = {
        type: "bot",
        text: response,
        time: this.getTime(new Date)
      };

      // save bot response to localStorage
      this.saveMessageToLocalStorage(message);
      this.loadMessagesFromLocalStorage();
      this.$nextTick(() => {
        this.scrollBottom();
      });
    },

    // @vuese
    // used to post message to bot api
    // @arg message, this has to contain user ip and msg string
    PostMessageToChatbot(message) {
      let chatbotUrl = this.chatbotApi;
      this.isLoading = true;

      axios
        .post(chatbotUrl, message)
        .then(response => {
          this.setChatbotResponseMessage(response.data);
        })
        .catch(error => {
          console.error(error.response);
          swal({
            title: this.notification,
            text: this.$i18n.messages[this.locale].chatbot.error
          });
        })
        .finally(() => {
          this.isLoading = false;
        })
    },

    // @vuese
    // set localStorage item _messages, which
    // is an object where messages from both user and bot
    // are store, also last user message is storage
    setMessagesLocalStorageItem() {
      // create localStorage item for messages information
      // which in an object
      if (!localStorage.getItem("_messages")) {
        localStorage.setItem(
          "_messages",
          JSON.stringify({
            messages: [],
            lastMessage: ""
          })
        );
      }
    },

    // @vuese
    // push message object to localStorage _messages.messages, which is an array of object
    // @arg message, object with text, time and type properties
    saveMessageToLocalStorage(message) {
      // first check if localStorage item _messages is created && it's type of an object
      let _messages = JSON.parse(localStorage.getItem("_messages"));
      if (typeof _messages === "object") {
        // only need text type and date from message if they're not, return false
        if (
          typeof message !== "object" &&
          (!message.text || !message.type || !message.time)
        ) {
          return false;
        }
        _messages.messages.push({
          type: message.type,
          text: message.text,
          time: message.time,
          id: _messages.messages.length + 1
        });

        localStorage.setItem("_messages", JSON.stringify(_messages));
      } else return false;
    },

    // @vuese
    // load last message from ocalStorage _messages.lastMessage, which is a string
    loadLastMessageFromLocalStorage() {
      let _messages = JSON.parse(localStorage.getItem("_messages"));
      if (typeof _messages === "object") {
        this.message = _messages.lastMessage;
      } else return false;
    },

    // @vuese
    // save last user message to the localStorage _messages.lastMessage
    // @arg message, string
    saveLastMessageToLocalStorage(message) {
      let _messages = JSON.parse(localStorage.getItem("_messages"));
      if (typeof _messages === "object") {
        if (typeof message !== "string") {
          return false;
        }
        _messages.lastMessage = message;
        localStorage.setItem("_messages", JSON.stringify(_messages));
      } else return false;
    },

    // @vuese
    // load messags from localStorage
    loadMessagesFromLocalStorage() {
      let _messages = JSON.parse(localStorage.getItem("_messages"));
      if (typeof _messages === "object") {
        if (!_messages.messages) {
          return false;
        }
        this.messages = _messages.messages;
      } else return false;
    }
  },

  // one purpose, everytime is mounted, the focusInput method will be called
  // and the message input will be focus, ready for use input
  mounted() {
    // experimental option to first post a message to the chatbot when opening chatbot inbox
    let noMessagesInLocalStorage =
      localStorage.getItem("_messages") &&
      JSON.parse(localStorage.getItem("_messages")).messages.length === 0;
    let hello = this.$i18n.messages[this.$i18n.locale].chatbot.hello
    if (noMessagesInLocalStorage)
      this.PostMessageToChatbot({
        ip: "127.0.0.1",
        msg: hello,
        current_vue_path: this.currentPath
      });
    this.focusInput();
    this.scrollBottom();
  },

  created() {
    this.setMessagesLocalStorageItem();
    this.loadMessagesFromLocalStorage();
    this.loadLastMessageFromLocalStorage();
  },

  beforeDestroy() {
    // before component instance is destroyed, saveLastMessageToLocalStorage will save user message
    this.saveLastMessageToLocalStorage(this.message);
  }
};
</script>