<template>
  <section class="information-section__content-cards">
    <div
      class="information-section__content-cards-wrapper"
      :class="{ 'information-section__content-cards-wrapper--widthDots': screenType === 'small' || screenType === 'medium' }"
      ref="carouselWrapper"
    >
      <div v-for="(card, index) in cards" :key="index" class="information-section__content-card">
        <img
          :src="require(`@/assets/images/general-icons/${card.imageSrc}`)"
          :alt="$t('home.informationSection.imageAlt')"
          class="information-section__card-image slideToUp"
        />
        <h4 class="information-section__card-title">{{ card.title }}</h4>
        <p class="information-section__card-description">{{ card.description }}</p>
      </div>
    </div>

    <div class="information-section__navigation-dots">
      <span
        class="information-section__navigation-dot"
        :class="{ 'information-section__navigation-dot--selected': dot === currentCarouselIndex }"
        v-for="dot in carouselDots"
        :key="dot"
        @click="moveCarouselWrapper(dot)"
      ></span>
    </div>
  </section>
</template>

<script>
export default {
  name: "InformationCardsCarousel",
  data() {
    return {
      carouselDots: [],
      currentCarouselIndex: 0,
      delay: 7500,
      screenType: "", // small, medium, large
      breakpoints: {
        small: "only screen and (max-width: 480px)",
        medium: "only screen and (max-width: 800px)",
        large: "only screen and (min-width: 801px)"
      }
    };
  },
  props: {
    cards: {
      type: Array,
      required: true
    }
  },

  methods: {
    // @vuese
    // returns screen size type based on the breakspoints in the data property
    getScreenType() {
      let breakpoints = this.breakpoints;
      let isSmallScreen = window.matchMedia(breakpoints.small);
      let isMediumScreen = window.matchMedia(breakpoints.medium);
      let isLargeScreen = window.matchMedia(breakpoints.large);

      if (isSmallScreen.matches) {
        return "small";
      } else if (isMediumScreen.matches) {
        return "medium";
      } else if (isLargeScreen) {
        return "large";
      }
    },

    // @vuese
    // sets the number of elements (numbers) in the carouselDots based on the screenType
    setDotsBasedOnScreenType() {
      let screenType = this.screenType;

      if (screenType === "small") this.carouselDots = [0, 1, 2, 3];
      if (screenType === "medium") this.carouselDots = [0, 1];
      if (screenType === "large") this.carouselDots = [];
    },

    // @vuese
    // moves carousel by slide index (zero based), also sets the index passed as argument
    // as the new currentCarouselIndex
    // @arg index (number) the position which the carousel will move to
    moveCarouselWrapper(index) {
      let carouselDots = this.carouselDots

      if (index >  carouselDots.length) {
        return false
      }

      const carouselWrapper = this.$refs.carouselWrapper;
      let position = this.getCarouselPositonFromIndex(index);

      this.currentCarouselIndex = index;
      carouselWrapper.style.transform = `translateX(-${position})`;
    },

    // @vuese
    // formats a valid value (example: 100% if index = 1) to move the carousel
    // @arg carousel slide index
    getCarouselPositonFromIndex(index) {
      if (index === 0) {
        return "0%";
      } else {
        return `${index}00%`;
      }
    }
  },

  created() {
    const self = this;
    self.screenType = self.getScreenType();
    self.setDotsBasedOnScreenType();

    window.addEventListener("resize", () => {
      let currentScreenType = self.screenType;
      let screenType = self.getScreenType();

      if (screenType !== currentScreenType) {
        self.screenType = screenType;
        self.setDotsBasedOnScreenType();
        self.currentCarouselIndex = 0;
        self.moveCarouselWrapper(0);
      }
    });

    // this is for making carousel automatic
    self.carouselIntervalID = setInterval(() => {
      let currentCarouselIndex = self.currentCarouselIndex;
      let screenType = self.screenType;

      if (screenType !== "large") {
        if (screenType === "small") {
          if (currentCarouselIndex < 3) {
            self.moveCarouselWrapper(currentCarouselIndex + 1);
            self.currentCarouselIndex = currentCarouselIndex + 1;
          } else {
            self.moveCarouselWrapper(0);
          }
        }

        if (screenType === "medium") {
          if (currentCarouselIndex < 1) {
            self.moveCarouselWrapper(currentCarouselIndex + 1);
            self.currentCarouselIndex = currentCarouselIndex + 1;
          } else {
            self.moveCarouselWrapper(0);
          }
        }
      }
    }, self.delay);
  },

  beforeDestroy() {
    // remove resize event & stop the interval
    window.removeEventListener("resize", () => {});
    clearInterval(this.carouselIntervalID);
  }
};
</script>