<!--
  NAVBAR COMPONENT 
  STRUCTURE OF THIS SECTION
  - NAV ELEMENT CONTAINER FOR NAV__ITEMS 
    - NAV__ITEM FOR ACTUALLY ROUTER-LINK WITH SPECIFIC ROUTES THAT WILL MATCH A VIEW 
    OR SECTION OF THE PAGE, E.I, CONTACT.
-->
<template>
  <nav class="nav col-auto">
    <div class="nav__item">
      <span class="nav__link nav__link--flex">
        {{ $t("menuOptions.aboutUs[0]") }}
        <span class="icon-down-open-mini"></span>
      </span>
      <div class="dropdown-list">
        <div class="dropdown-list__item">
          <router-link to="/about-us" class="nav__link">{{ $t("menuOptions.aboutUs[1]") }}</router-link>
        </div>
        <div class="dropdown-list__item">
          <router-link :to="'/projects/' + projectCategory" class="nav__link">{{ $t("menuOptions.aboutUs[2]") }}</router-link>
        </div>
      </div>
    </div>

    <div class="nav__item">
      <router-link :to="'/services/' + serviceCategory" class="nav__link">{{ $t("menuOptions.service") }}</router-link>
    </div>

    <!-- <div class="nav__item">
      <router-link to="/services/products" class="nav__link">Productos</router-link>
    </div>-->

    <div class="nav__item">
      <router-link to="/hire-us" class="nav__link">{{ $t("menuOptions.hireUs") }}</router-link>
    </div>

    <div class="nav__item">
      <a
        :href="currentPath + '#contact-section'"
        class="nav__link"
        @click="$emit('close-nav-menu', false);"
      >
      {{ $t("menuOptions.contact") }}
      </a>
    </div>

    <div class="nav__item">
      <router-link to="/blog/all/page/1" class="nav__link">{{ $t("menuOptions.blog") }}</router-link>
    </div>

    <div class="nav__item">
      <div class="lang-switcher">
        <img 
          src="@/assets/images/spanish-lang.svg" 
          :alt="languages.spanish" 
          class="lang"
          :class="{'selected-language': acceptLanguage === 'es'}" 
          :title="languages.spanish"
          @click="switchLanguage('es')"
        />
        <img 
          src="@/assets/images/english-lang.svg" 
          :alt="languages.english" 
          class="lang" 
          :class="{'selected-language': acceptLanguage === 'en'}" 
          :title="languages.english"
          @click="switchLanguage('en')"
        />
      </div>
    </div>
  </nav>
</template>

<script>
// navigation menu component

// @vuese
export default {
  name: "navigation-menu",

  computed: {
    // returns category from the store,
    // will get the las project section category visitecd,
    // if there's no value, web-development is returned
    projectCategory() {
      let category = this.$store.state.projects.projectsCategory;
      if (!category.length) {
        return "web-development";
      } else {
        return category.split(" ").join("-");
      }
    },

    // returns default service category, this one will be used
    // as the default category for the services section
    serviceCategory() {
      return "web-development";
    },

    // returns current path from $route.path
    currentPath() {
      return this.$route.path;
    },

    // page accept language
    acceptLanguage() {
      let language = window.localStorage.getItem("accept-language")

      return language
    },

    // an object with the translated languages (includes the selected language)
    languages() {
      let i18nLanguages = this.$t("menuOptions.languages")
      let acceptLanguage = this.acceptLanguage
      let [spanish, english] = i18nLanguages

      return {
        spanish: `${spanish} ${acceptLanguage === "es" ? "(seleccionado)" : ""}`,
        english: `${english} ${acceptLanguage === "en" ? "(selected)" : ""}` 
      }
    }
  },

  watch: {
    // watch for currentPath,
    // used to emit a custom event to close navigation menu
    // if the current path/route has changed
    currentPath() {
      this.$emit("close-nav-menu", false);
    }
  },

  methods: {
    switchLanguage(language) {
      this.$emit("switch-language", language);
    }
  }
};
</script>>