<!--
TODO: make images sizes concistants
-->
<template>
  <div class="project-container">
    <div class="project__header">
      <div class="inner-wrapper">
        <h3 class="project__title">{{ project.name }}</h3>
        <carousel
          class="project__carousel"
          :key="project.pageId"
          :per-page="1"
          :loop="true"
          :autoplay="true"
          :autoplay-timeout="4000"
          :pagination-enabled="false"
          :navigation-enabled="true"
          navigation-prev-label="<span class='icon-left-arrow carousel__arrow'></span>"
          navigation-next-label="<span class='icon-right-arrow carousel__arrow'></span>"
        >
          <slide
            class="project__carousel__slide"
            v-for="(image, index) in project.images"
            :key="index"
          >
            <div class="project__images">
              <img :src="image.photo" :alt="project.title" />
              <h3 class="image__category">{{ categoryFormatted }}</h3>
            </div>
          </slide>
        </carousel>
      </div>
    </div>
    <div class="inner-wrapper">
      <div class="project__body">
        <h3 class="project__title">{{ project.subtitle }}</h3>
        <div class="project__description">
          <p class="description__text" v-html="project.description"></p>
          <p class="description__widget">
            {{ $t("aboutUs.projectsSection.linkText") }}
            <a :href="project.website" target="_blank">{{ project.website }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// project component
import { Carousel, Slide } from "vue-carousel";

// @vuese
export default {
  name: "project-card",

  components: {
    // from vue-carousel, this is the carousel main container
    Carousel,
    // from vue-carousel, this is the slide that goes into caoursel component
    Slide
  },

  props: {
    // object with project information like name, images, description, url
    project: {
      type: Object,
      required: true
    }
  },

  computed: {
    // Turns a category like `web-development` to `Web development`
    categoryFormatted() {
      let _project = this.project.categories.split("-").join(" ");
      _project = _project.charAt(0).toUpperCase() + _project.slice(1);
      return _project;
    }
	}
};
</script>
