<!--
  PAGE HEADER
    structure of this section
    - header
      - brand-logo // here is presented the page brand logo
      - navigation-menu // here is represented the navigation menu for 
        [about-us, projects, services, prices, contact, language-switcher]
-->
<template>
  <!-- the header element has the @click.stop, so the click event won't propagate, then not reaching the click event of the window object -->
  <header class="header row animated slideInDown fixed-top" @click.stop="">
    <div class="col-12">
      <div class="inner-wrapper">
        <div class="row justify-content-between align-items-center">
          <div class="col-auto brand-column">
            <div class="brand">
              <h1 class="brand__logo">
                <router-link to="/">
                  <img src="@/assets/images/logo.svg" alt="Kalwak logo" class="logo__image" />
                </router-link>
              </h1>
              <button
                class="hamburger hamburger--squeeze menu-button"
                :class="{ 'is-active': activatedMenu }"
                type="button"
                @click="toggleMenu"
                aria-label="menu"
                tabindex="0"
              >
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
          </div>
          <nav-menu
            :class="{ activatedMenu }"
            @close-nav-menu="activatedMenu = false"
            @switch-language="setLanguage"
          />
        </div>
      </div>
    </div>
  </header>
</template>

<script>
// header component, page header section, used to show page brand logo and navigation menu
import NavMenu from "@/components/sub-layout/navigation-menu.vue";
import { saveAcceptLanguageToLocalStorage } from "../../utils/utils";

// @vuese
export default {
  name: "page-header",
  data() {
    return {
      // used for toggling the navigation menu, used only on table and mobile screen sizes
      activatedMenu: false
    };
  },

  components: {
    // navigation menu component
    NavMenu
  },

  methods: {
    // @vuese
    // toggles between true and false the activedMenu data property's state
    toggleMenu() {
      this.activatedMenu = !this.activatedMenu;
    },

    // @vuese
    // set the selected language to localStorage and then reloads page
    // @arg language, the string which will be saved to localStorage
    setLanguage(language) {
      saveAcceptLanguageToLocalStorage(language);
    }
  },

  mounted() {
    window.addEventListener("click", () => {
      this.activatedMenu = false
    })
  },

  beforeDestroy() {
    window.removeEventListener("click", () => {})
  }
};
</script>