<!--
  PAGE FOOTER
  structure of this section:
    - footer 
      - contact-section
        - contact-form // form to make consults 
        - contact-information // general information about kalwak 
          like: email, phone number, facebook page and whatsapp number
        - information-section
        - copyright-section // some commom copyright message
-->

<template>
  <footer class="footer row" id="contact-section">
    <div class="col-12">
      <h5 class="footer-title">
        <span class="footer-title__text">{{ $t("footer.contactSection.title.main") }}</span>
        <span class="footer-title__text">{{ $t("footer.contactSection.title.secondary") }}</span>
      </h5>
      <div class="inner-wrapper">
        <div class="contact-section" v-if="currentPath !== '/blog.editor'">
          <div class="contact-form" v-if="!formDisabled">
            <h4 class="contact__title">{{ $t("footer.contactSection.form.title") }}</h4>
            <form class="form-row form animated fadeIn" v-if="!email.onSending">
              <div class="form-group col-12 form__input-container">
                <label for="name">{{ $t("footer.contactSection.form.inputs.name") }}</label>
                <input
                  type="text"
                  :placeholder="$t('footer.contactSection.form.inputs.name')"
                  class="form-control form__input"
                  id="name"
                  v-model="email.name"
                />
                <small
                  class="text-danger mt-1 mb-2 d-block"
                  :class="{ visible: inputError, invisible: !inputError }"
                >*{{ $t("alerts.warnings.required") }}</small>
              </div>
              <div class="form-group col form__input-container">
                <label for="phone">{{ $t("footer.contactSection.form.inputs.phone") }}</label>
                <input
                  type="tel"
                  :placeholder="$t('footer.contactSection.form.inputs.phone')"
                  class="form-control form__input"
                  id="phone"
                  v-model.number="email.phoneNumber"
                />
                <small class="text-danger mt-1 mb d-block invisible">*opcional</small>
              </div>
              <div class="form-group col form__input-container">
                <label for="email">{{ $t("footer.contactSection.form.inputs.email") }}</label>
                <input
                  type="email"
                  :placeholder="$t('footer.contactSection.form.inputs.email')"
                  class="form-control form__input"
                  id="email"
                  v-model="email.address"
                />
                <small
                  class="text-danger mt-1 mb-2 d-block"
                  :class="{ visible: inputError, invisible: !inputError }"
                >*{{ $t("alerts.warnings.required") }}</small>
              </div>
              <div class="form-group col-12 form__input-container">
                <label for="message">{{ $t("footer.contactSection.form.inputs.message") }}</label>
                <textarea
                  :placeholder="$t('footer.contactSection.form.inputs.message')"
                  class="form-control form__input form__textarea"
                  id="message"
                  v-model="email.message"
                ></textarea>
                <small
                  class="text-danger mt-1 mb-2 d-block"
                  :class="{ visible: inputError, invisible: !inputError }"
                >*{{ $t("alerts.warnings.required") }}</small>
              </div>
              <div class="form-group ml-md-auto col-lg-6 col-xl-4 form-recaptcha">
                <vue-recaptcha theme="dark" :sitekey="recaptcha" :loadRecaptchaScript="true" :language="$i18n.locale" @verify="reCaptchaVerified"></vue-recaptcha>
              </div>
              <div class="form-group form__button-container col-lg-4">
                <button
                  class="form__button"
                  @click.prevent="sendEmail"
                  :disabled="buttonDisabled"
                >{{ $t("footer.contactSection.form.buttons.send") }}</button>
              </div>
            </form>
            <div class="spinner" v-if="email.onSending">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
            </div>
          </div>
          <div class="contact-information" :class="{ 'information-50': formDisabled }">
            <div class="contact-info-container">
              <h4 class="contact__title">{{ $t("footer.contactSection.moreInformation.title") }}</h4>
              <p class="contact-info">
                <span class="info__title">{{ $t("footer.contactSection.moreInformation.phone") }}:</span>
                <span class="info__description">
                  <a
                    href="tel:+50684599023"
                    :title="$t('footer.contactSection.moreInformation.titles.icons.telephone')"
                  >+50684599023</a>
                </span>
              </p>
              <p class="contact-info">
                <span class="info__title">{{ $t("footer.contactSection.moreInformation.email") }}:</span>
                <span class="info__description">
                  <a
                    href="mailto:kalwakcr@gmail.com"
                    target="_blank"
                    rel="noopener"
                    :title="$t('footer.contactSection.moreInformation.titles.icons.emailAdress')"
                  >kalwakcr@gmail.com</a>
                </span>
              </p>
            </div>
            <div class="social-media">
              <h4
                class="contact__title"
              >{{ $t("footer.contactSection.moreInformation.socialMedia") }}</h4>
              <a
                href="https://www.facebook.com/Kalwak-358576961719203"
                target="_blank"
                rel="noopener noreferrer"
                class="social-media__icon social-media__icon"
                title="facebook"
              >
                <img
                  class="social-media__icon-image"
                  src="@/assets/images/social-icons/facebook.svg"
                  alt="facebook"
                />
              </a>
              <a
                href="https://api.whatsapp.com/send?phone=50684599023&text=Kalwak"
                target="_blank"
                rel="noopener noreferrer"
                class="social-media__icon social-media__icon"
                title="whatsapp"
              >
                <img
                  class="social-media__icon-image"
                  src="@/assets/images/social-icons/whatsapp.svg"
                  alt="whatsapp"
                />
              </a>
              <a
                href="https://instagram.com/kalwak.cr"
                target="_blank"
                rel="noopener noreferrer"
                class="social-media__icon social-media__icon"
                title="instagram"
              >
                <img
                  class="social-media__icon-image"
                  src="@/assets/images/social-icons/instagram.svg"
                  alt="instagram"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="footer__information-section">
          <div class="copyright-section">
            <p>{{ $t("footer.copyRight.message1") }}</p>
            <p>{{ $t("footer.copyRight.message2") }}</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
// page footer component, this is the app footer section, in this section we have the contact form and contact information
// also some copyright messages
import axios from "axios";
import swal from "sweetalert";
import VueRecaptcha from 'vue-recaptcha';

// @vuese
export default {
  name: "page-footer",
  components: {VueRecaptcha},

  data() {
    return {
      // email is an object containing properties for email information like name, address etc...
      email: {
        subject: "Consulta",
        name: "",
        phoneNumber: "",
        address: "",
        message: "",
        onSending: false,
        inputError: false
      },
      formDisabled: false,

      // if click send button and required fields are empty, this will set to true
      // and warnings about that the fields are required will be showned
      inputError: false,
      recaptchaKey: null,
    };
  },

  computed: {
    recaptcha(){
        return process.env.VUE_APP_RECAPTCHA_KEY;
    },

    // base api endpoint
    apiEndpoint() {
      return process.env.VUE_APP_API_ENDPOINT;
    },

    // endpoint where email will be posted
    apiEmail() {
      return `${this.apiEndpoint}/api/send_email/`;
    },

    // full message where name, phone and message will be included
    fullMessage() {
      const email = this.email;
      return `
      nombre: ${email.name}\n
      telefono: ${email.phoneNumber || "no fue dado!"}\n
      ${email.message}
      `;
    },

    // disable send button whereas email is onSending
    buttonDisabledByProcess() {
      return this.email.onSending;
    },

    // returns true if any of the required inputs is empty, else returns false
    buttonDisabledByInputs() {
      return !this.email.name || !this.email.address || !this.email.message || !this.recaptchaKey;
    },

    // returns true if buttonDisabledByProcess is true, else returns false
    buttonDisabled() {
      return this.buttonDisabledByProcess || this.buttonDisabledByInputs;
    },

    // returns an object with the three required properties from email
    emailInfo() {
      const { name, address, message } = this.email;
      return {
        name,
        address,
        message
      };
    },

    // returns current $route.path
    currentPath() {
      return this.$route.path;
    }
  },

  methods: {
    //@vuese
    // Saves the verified token in this.reCaptchaKey to be sent with the auth form
    //@arg token, the obtained reCaptcha token from Google
    reCaptchaVerified(token){
        this.recaptchaKey = token;
    },

    // @vuese
    // sendEmail method, this method is triggered by the Enviar button which is only
    // enabled if required inputs are not empty, in this method axios is used to make http post request
    // to api/send_email endpoint (django backend service)
    async sendEmail() {
      const self = this;
      let validation = self.checkFields(self.emailInfo);

      if (validation.valid) {
        self.email.onSending = true;

        // posting email to api service
        let data = {
          subject: self.email.subject,
          email: self.email.address,
          message: self.email.message,
          name: self.email.name,
          phone_number: self.email.phoneNumber,
          recaptcha_key: self.recaptchaKey
        };
        
        axios
          .post(self.apiEmail, data)
          .then(res => {

            if (res.request.status === 200 && res.data.response === 1) {
              swal({
                title: this.$t("alerts.notification"),
                text: this.$t("alerts.success.contactForm.messageSent"),
                icon: "success"
              });
              self.clearInputs();
            } else {
              swal({
                title: this.$t("alerts.notification"),
                text: res.data.email[0],
                icon: "warning"
              });
            }
          })
          .catch(err => {
            this.$log.debug(err);
            swal({
              title: this.$t("alerts.notification"),
              text: this.$t("alerts.errors.serverError"),
              icon: "error"
            });
          })
          .finally(() => {
            self.email.onSending = false;
          });
      } else {
        self.inputError = true;
      }
    },

    // @vuese
    // check if fields are not empty,
    // it's used to check if required inputs are not empty, this method is used in sendEmail method
    // @arg filds which is an object contain actually any fields
    checkFields(fields) {
      let validFields = true;
      let fieldsKeys = Object.keys(fields);
      // idx = index
      for (let idx = 0; idx < fieldsKeys.length; idx++) {
        let fieldValue = fields[fieldsKeys[idx]];
        if (fieldValue.length < 1) {
          validFields = false;
        }
      }

      return {
        valid: validFields
      };
    },

    // @vuese
    // clear email property values like name, email, phoneNumber and message which are the ones showned in the contact form
    clearInputs() {
      let email = this.email;
      email.name = "";
      email.address = "";
      email.message = "";
      email.phoneNumber = "";
    }
  },

  watch: {
    // watcher for currenthPath computed property, used to hide contact form
    // callback function, check if current path is equal to /hire-us,
    // if true, set data property formDisabled to true, else set it to false
    currentPath() {
      this.inputError = false;
      if (this.currentPath === "/hire-us") {
        this.formDisabled = true;
      } else {
        this.formDisabled = false;
      }
    }
  }
};
</script>