<!--
  PAGE MAIN
  STRUCTURE OF THIS SECTION 
  - MAIN (CLASS ROW) // THIS IS THE CONTAINER FOR THE VIEW-ROUTER
    - THE DIRECT CHILD OF THIS CONTAINER WILL ACTUALLY BE A MATCHED VIEW, LIKE ABOUT-US, PROJECTS, PRODUCTS, SERVICES
    - THE CHATBOT IMAGE THAT IF CLICKED SHOWS THE CHATBOT SUB-LAYOUT
-->
<template>
  <main class="main row" id="main">
    <router-view></router-view>
    <div
      class="chatbot-main-container"
      :class="{ 'chatbot-background': chatbotVisible }"
      @click="chatbotVisible = false"
    >
      <chat-bot
        class="animated slideInUp"
        @close-chatbot="chatbotVisible = false"
        v-if="chatbotVisible"
      />
    </div>
    <img
      v-if="notEditorPath"
      src="~@/assets/images/chatbot-icons/chatbot-icon.svg"
      :alt="`${$t('chatbot.open')} chatbot`"
      :title="`${$t('chatbot.open')} chatbot`"
      @click="chatbotVisible = true"
      class="chatbot-open-icon"
    />
  </main>
</template>

<script>
// views will render here, so its content is dynamic
import ChatBot from "../sub-layout/chatbot.vue";

// @vuese
export default {
  name: "page-main",
  data() {
    return {
      // chatbotVisble for controlling chatbot position/visibility
      chatbotVisible: false
    };
  },

  components: {
    // this represents the chatbot
    ChatBot
  },

  computed: {
    // to hide chatbot button when user is on editor route
    notEditorPath() {
      return this.$route.path !== "/blog.editor";
    }
  },

  created() {
    // getting user ip when main component is created
    this.$store.dispatch("getUserIp");
  },

  watch: {
    // hide body scrollbar when the chatbot is visible
    // else body has scrollbar again
    chatbotVisible(value) {
      if (value) document.body.style.overflow = "hidden";
      else document.body.style.overflow = "";
    }
  }
};
</script>