/**
* THESE ARE BASE STYLES TO APPLY TO SOME
  TAGS SO THEY CAN HAVE A EXPECTED BEHAVIOR.
*/


body {
  font-size: $base-font-size;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
}

img {
  vertical-align: top;
  max-width: 100%;
}

a {
  color: #24292e;
  text-decoration: none !important;
}

.u-button {
  border: none;
  background: $blue-color;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  outline: none;

  &:hover {
    background-color: darken($blue-color, 10%);
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.reset-m-p {
  padding: 0;
  margin: 0;
}

.hidden-label {
  position: absolute;
  font-size: 0;
  display: block;
}

[class*='col'], [class*='container'], .row, .form-group {
  @extend .reset-m-p;
}

// to limit the width
.inner-wrapper {
  max-width: 60%;
  margin: 0px auto;
}

// snippets to clear the x icon from browser that support it
/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }



// MEDIA QUERIES FOR BASE STYLES
@media screen and (max-width: 1400px) {
  body {
    font-size: 16px;
  }

  .inner-wrapper {
    max-width: 80%;
  }
}

@media screen and (max-width: 900px) {
  body {
    font-size: 15px;
  }

  .inner-wrapper {
    max-width: 90%;
  }
}

@media screen and (max-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 300px) {
  body {
    font-size: 13px;
  }
}

@media screen and (min-width: 2000px) {
  .inner-wrapper {
    max-width: 1300px;
  }
}