.chatbot-container {
  position: fixed;
  bottom: 0;
  right: 0;
  transition: .2s all;
  margin-right: 20px;
  width: 400px;
  z-index: 10000;
  background-color: #ddd;
  box-shadow: 0 4px 16px rgba(0,0,0,.3);

  .chatbot__header {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;

    &-title {
      font-size: 1.2em;
      margin: 0;
    }

    .chatbot__header-settings {
      display: flex;

      .chatbot__setting-icon {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 0px 15px;
        transition: 0.2s all linear;
        border-radius: 100%;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none; 
        -ms-user-select: none;
        user-select: none;  

        &:hover {
          background: rgb(207, 204, 204);
        }

        &:hover .setting-icon__image {
          transform: rotate(30deg);
        }

        .setting-icon__image {
          width: 50%;
          transition: 0.2s all linear;
          pointer-events: none;
        }
      }
    }
  }

  .chatbot__body {
    padding-top: 60px;

    .chatbot-messages__container {
      @extend .chatbot-messages-height;
      background-color: #fff;
      width: 100%;
      overflow: auto;

      .message-container {
        margin: 20px 15px;
        display: flex;

        .message__bubble {
          transition: .3s all linear;
          background-color: $blue-color;
          max-width: 70%;
          min-width: 40%;
          color: #fff;
          margin: 0;
          padding: 10px;
          display: flex;
          flex-direction: column;
          border-radius: 4px;

          .message__text {
            font-size: 1em;
            font-weight: 400;
            word-wrap: break-word;
          }

          .message__information {
            font-size: 0.8em;
            opacity: 0.6;
            margin-top: 2px;
          }
        }

        .orange--bubble {
          background-color: $orange-color;
        }
      }

      .bubble--right {
        justify-content: flex-end;
      }
    }

    .chatbot-input__container {
      display: flex;
      height: 48px;

      .input-text {
        padding: 0px 20px;
        border: none;
        background-color: #ddd;
        color: #24292e;
        width: 85%;

        &:focus {
          outline: none;
        }
      }

      .send-button {
        max-width: 80px;
        height: 100%;
        border: none;
        padding: 0;
        outline: none;


        &:disabled {
          opacity: 0.7;
          pointer-events: none;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.chatbot-messages-height {
  min-height: 68vh;
  max-height: 68vh;
}

.chatbot-main-container {
  position: fixed;
  background-color: rgba($color: #000000, $alpha: .8);
  top: 0;
  left: 0;
  z-index: 2200;
}

.chatbot-background {
  width: 100%;
  height: 100vh;
}

.chatbot-open-icon {
  position: fixed;
  z-index: 2000;
  width: 100px;
  bottom: 0;
  right: 0;
  margin: 30px;
  transition: 0.2s all linear;
  cursor: pointer;

  &:hover {
    animation: boingBoing 0.6s linear;
  }
}

@keyframes boingBoing {
  0% {
    transform: scale(1) rotate(0deg);
  }

  50% {
    transform: scale(1.2) rotate(20deg);
  }

  80% {
    transform: scale(0.8) rotate(-20deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

// RESPONSIVE FOR CHATBOT AND OPEN ICON 
@media screen and (max-width: 900px) {
  .chatbot-open-icon {
    width: 90px;
    margin: 20px;
  }

  .chatbot-container {
    width: 50%;
  }
}

@media screen and (max-width: 750px) {
  .chatbot-container {
    left: 0;
    margin: auto;
    width: 70%;


  }
}

@media screen and (max-width: 600px) {
  .chatbot-container {
    width: 100%;
    margin: 0;

    .chatbot__body {
      .chatbot-messages__container {
        min-height: 70vh;
      }
    }
  }

  .chatbot-open-icon {
    width: 70px;
  }
}


@media screen and (min-height: 1000px) {
  .chatbot-messages-height {
    min-height: 600px;
    max-height: 600px;
  }
}