/**
* ALL THESE STYLES WILL BE APPLIED TO
  THE PAGE FOOTER, THIS ALSO INCLUDES THE 
  STYLES FOR DEVICES, TABLETS AND DESKTOP
  BUT IT CAN BE SEPARATED INTO DIFFERENT
  FILES LATER.
*/

.footer {
  background-color: #ddd;
  padding-top: 60px;
}

.footer-title {
  background-color: $blue-color;
  color: #fff;
  padding: 12px;
  text-align: center;
  font-size: 1.2em;
  margin: 0 0 40px 0;

  .footer-title__text {
    display: block;
    letter-spacing: 0.1em;
  }
}

.contact-section {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.contact-form,
.contact-information {
  .contact__title {
    text-transform: uppercase;
    font-size: 1.3em;
  }

  .contact__title,
  .contact-info {
    margin: 0px 0px 16px;
  }
}

.contact-form {
  width: 60%;

  .form {
    margin: 0;
    width: 95%;

    .form__input,
    .form__button {
      border-radius: 4px;
      padding: 4px 10px;
      font-size: 1.1em;
      border: none;
    }

    .form__input {
      border: 1.2px solid $orange-color;
      outline: none;
    }

    .form__textarea {
      min-height: 150px;
      max-height: 200px;
    }

    .form__button-container {
      text-align: right;
    }

    .form__button {
      background-color: $blue-color;
      color: #fff;

      &:disabled {
        opacity: 0.6;
      }
    }
  }
}

.contact-information {
  width: 30%;

  .contact-info {
    font-size: 1.1em;

    .info__title,
    .info__description {
      display: block;
      margin: 0;
      padding: 0;
    }

    .info__title {
      color: $blue-color;
    }

    .info__description {
      a {
        color: $orange-color;

        &:hover {
          color: #333;
        }
      }
    }
  }

  .social-media {
    margin-top: 60px;

    &__icon {
      font-size: 1.6em;
      margin: 0px 8px 0px 0px;
    }

    .social-media__icon-image {
      width: 35px;
    }
  }
}

.footer__information-section {
  margin-top: 30px;

  .copyright-section {
    p {
      text-align: center;
      color: #333;
      margin-bottom: 4px;
      font-size: 0.9em;
    }
  }
}

.information-50 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  .contact-info-container,
  .social-media {
    margin: 0 30px !important;
  }
}

// MEDIA QUERIES START HERE (800px)
/**
  STYLES FOR DIFFERENT DEVICES SCREENS, FIRST I'LL GO THROUGH 
  TABLES AND FINALLY TO MOBILE DEVICES SCREENS.
*/
// MOBILE DEVICES
@media screen and (max-width: 800px) {
  .contact-form,
  .contact-information {
    width: 100%;

    .contact__title {
      text-align: center;
    }
  }

  .contact-form {
    margin-bottom: 60px;

    .form {
      width: 100%;

      .form__button-container {
        text-align: center;
      }

      .form__input-container {
        label {
          font-size: 0px;
          position: absolute;
        }

        &:nth-child(2),
        &:nth-child(3) {
          min-width: 100%;
        }
      }

      .form-recaptcha{
        @media (min-width: 375px) and (max-width: 480px) {
          margin-left: 10%;
        }
        @media (min-width: 500px) and (max-width: 799px) {
          margin-left: 24% !important;
        }
      }
    }
  }

  .contact-information {
    text-align: center;

    .social-media {
      margin-top: 20px;
    }
  }
}
