/**
* ALL THESE STYLES WILL BE APPLIED TO
  THE PAGE HEADER, THIS ALSO INCLUDES THE 
  STYLES FOR DEVICES, TABLETS AND DESKTOP
  BUT IT CAN BE SEPARATED INTO DIFFERENT
  FILES LATER.
*/


.header {
  z-index: 1020;
  background-color: #fff;
  padding: 15px 0px;
}

.brand {
  width: 100%;

  .brand__logo {
    position: relative;
    transition: .3s all;
    border-radius: 4px;
    width: 120px;
    margin: 0;

    &:hover {
      background-color: rgb(241, 235, 235);
    }

    .logo__image {
      max-height: 100%;
      width: 100%;
    }
  }

  .menu-button {
    display: none;
  }
}

.nav {
  justify-content: center;
  padding: 0;
  margin: 0;

  &__item {
    position: relative;
    margin: 0px 0px 0px 20px;

    &:hover {
      color: $blue-color;

      .dropdown-list {
        visibility: visible;
        opacity: 1;
      }
    }

    .nav__link {
      cursor: pointer;

      ::selection {
        background: transparent;
      }

      &:hover {
        color: $blue-color;
      }

      span {
        display: flex;
        margin-left: 4px;
      }

      &--flex {
        display: flex;
        width: auto;
        align-items: center;
      }
    }

    .dropdown-list {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transition: all .3s cubic-bezier(.33,.94,.5,.86);
      width: 200px;
      left: 0;
      top: 100%;
      padding-top: 30px;
      
      &__item {
        position: relative;
        padding: 15px;
        background-color: rgb(241, 235, 235);
      }
    }
  }
}

.lang-switcher {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  .lang {
    width: 30px;
    height: 20px;
    padding: 0;
    margin: 0 0 0 4px;
    cursor: pointer;

    &.selected-language {
      opacity: 0.2;
    }
  }
}

.router-link-active {
  color: $blue-color;
}


/**
  MEDIA QUERIES START HERE,
  ORDER: DESKTOP -> TABLE -> MOBILE (SCREENS)
*/
// MOBILES
@media screen and (max-width: 980px) {

  .brand-column {
    width: 100%;
  }

  .brand {
    display: flex;
    justify-content: space-between;

    .brand__logo {
      background-color: rgb(241, 235, 235);
      border-radius: 4px;
    }

    .menu-button {
      display: block;
      padding: 0px 4px;
      border-radius: 4px;
      background-color: rgb(241, 235, 235);
      
      &:focus {
        outline: none;
      }
    }
  }

  .nav {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all 0.5s linear;
    position: relative;
    background-color: #fff;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    visibility: hidden;
    opacity: 0;

    &__item {
      padding: 10px 0px;
      margin: 0;
      width: 100%;

      .dropdown-list {
        background: transparent;
        position: relative;
        border-left: 1px solid $blue-color;
        overflow: hidden;
        visibility: visible;
        opacity: 1;
        left: 0;
        top: 0;
        width: 100%;
        padding: 0;
        margin-left: 6px;

        &__item {
          padding: 10px;
          background-color: #fff;
        }
      }
    }
  }

  .lang-switcher {
    
    .lang {
      margin: 0px 10px 0px 0px;
    }
  }

  .activatedMenu {
    opacity: 1;
    visibility: visible;
    height: auto;
  }

  .menu-button {
    margin-left: 4px;
  }
}