@import './views-styles/home';
@import './views-styles/projects';
@import './views-styles/about-us';
@import './views-styles/services';
@import './views-styles/hire-us';
@import './views-styles/blog';
@import './views-styles/login';

.main {
  background-color: #fff;
  margin-top: 75px;
}
