/**
* THESE ARE VARIABLES THAT WILL BE USED
  THROUGHOUT THE WEBSITE, THEY WILL SAVE
  VALUES THAT CAN BE CHANGE LATER.
*/


$white-color-1: #fff;
$white-color-2: #ddd;
$base-font-size: 17px;
$font-roboto: 'Roboto', sans-serif;
$orange-color: #e6a316;
$blue-color: #243c96;
$green-color: #56b330;